<article id="clearing-banner" class="clearing-banner" aria-labelledby="clearing-banner__heading">
    <h2 id="clearing-banner__heading" class="clearing-banner__heading">This course is available in Clearing</h2>
    <p class="clearing-banner__text">Call our Clearing hotline on <a href="tel:0800590830">0800 590 830</a> or <a href="/clearing">find out more about Clearing</a>.</p>
</article>