.pager {
  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    a {
      min-width: 1em;
      padding: $spacing-xs $spacing-md;
    }
  }

  .is-active {
    a {
      font-weight: bold;
      background: $offwhite;
    }
  }
}