@mixin font-face ($prefix: '..') {

  //@font-face {
  //  font-family: 'Museo Sans';
  //  src: url('#{$prefix}/fonts/MuseoSans_500-webfont.woff2') format('woff2'),
  //       url('#{$prefix}/fonts/MuseoSans_500-webfont.woff') format('woff');
  //  font-weight: 500;
  //  font-style: normal;
  //  font-display: swap;
  //}
  //
  //@font-face {
  //  font-family: 'Museo Sans';
  //  src: url('#{$prefix}/fonts/MuseoSans_100-webfont.woff2') format('woff2'),
  //       url('#{$prefix}/fonts/Roboto-Light.ttf') format('woff');
  //  font-weight: 300;
  //  font-style: normal;
  //  font-display: swap;
  //}

}

$typescale-map: (
  '6xl': 4,
  '5xl': 3,
  '4xl': 2.5,
  '3xl': 2,
  '2xl': 1.5,
  'xl': 1.25,
  'lg': 1.125,
  'md': 1,
  'sm': 0.875,
  'xs': 0.75,
  '2xs': 0.6875,
);

$headings-map: (
  'h1': '5xl',
  'h2': '4xl',
  'h3': '3xl',
  'h4': '2xl',
  'h5': 'xl',
  'h6': 'lg',
);

$line-height-map: (
  'spaced': 1.6,
  'normal': 1.4,
  'headings': 1.2,
  'compact': 1.2,
);

$border-accent-width: $spacing-2xs;

@mixin font-sans {
  font-family: 'Roboto', sans-serif;
}

@mixin font-sans-secondary {
  font-family: 'Museo Sans', 'Tahoma', sans-serif;
}

@mixin font-serif {
  font-family: 'Ashbury', serif;
}

@mixin font-primary {
  @include font-sans;
}

@mixin font-secondary {
  @include font-sans-secondary;
}

@mixin font-tertiary {
  @include font-serif;
}


@mixin line-height($size) {
  @if map-has-key($line-height-map, $size) {
    line-height: map-get($line-height-map, $size);
  } @else {
    @warn 'This is not a step of the line-height scale';
  }
}

@mixin typescale($size, $unit: 'rem', $important: false) {
  @if map-has-key($typescale-map, $size) {
    @if $important {
      font-size: map-get($typescale-map, $size)+unquote($unit)+unquote(' !important');
    } @else {
      font-size: map-get($typescale-map, $size)+unquote($unit);
    }
    @if (map-get($typescale-map, $size) > 2) {
      @include line-height('compact');
    }
  } @else {
    @warn 'This is not a step of the Type Scale!';
  }
}

@function headings($from:1, $to:6) {
  @if $from == $to {
    @return 'h#{$from}, .h#{$from}';
  } @else {
    @return 'h#{$from}, .h#{$from},' + headings($from+1, $to);
  }
}

@mixin body {
  @include font-primary;
  @include line-height('normal');
  color: $text-color;
  background: #fff;
  font-weight: 400;
  tap-highlight-color: transparentize($primary, 0.75);
}

@mixin base-elements {
  a { color: $link-color; cursor: pointer; text-decoration: underline; }
  a:hover { color: $link-hover-color }
  a img {	border: 0px; }
  a[href^="mailto"], .url { word-break: break-word; }

  a {
    @supports (text-decoration-thickness: 0.125em) {
      text-decoration-color: $primary;
      text-decoration-thickness: 0.125em;
    }
  }

  nav, ul, ol, table {
    a {
      @supports (text-decoration-thickness: 0.125em) {
        text-decoration-color: revert;
        text-decoration-thickness: revert;

      }
    }
  }

  #{headings()} {
    @include line-height('headings');
    font-weight: 900;
    margin: $spacing-4xl 0 $spacing-lg;

    a, a & {
      color: black;
    }
  }

  h1 + h2,
  h2 + h3,
  h3 + h4,
  h4 + h5,
  h5 + h6 {
    margin-top: -#{$spacing-xs};
  }

  @each $name, $size in $headings-map {
    #{$name}, .#{$name} {
      @include typescale($size);
    }
  }

  p {
    margin: 0 0 1.5em;

    &:empty {
      margin: 0;
    }
  }

  acronym, abbr {
    border-bottom: 1px dotted #333;
  }

  strong,
  .strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  li {
    margin-bottom: $spacing-xs;
  }

  ul {
    margin: 0 0 $spacing-lg;
    list-style-type: square;
    padding-left: 1.5em;
  }

  ol {
    margin: 0 0 $spacing-lg;
    padding-left: 2em;
  }

  nav {
    ul {
      list-style: none;
      padding: 0;
    }

    a {
      text-decoration: none;
    }
  }

  dl {
    margin: 0 0 $spacing-lg;
  }

  dt {
    //color: $secondary;
    font-weight: bold;
  }

  dd {
    margin: 0 0 $spacing-md;
  }

  hr {
    clear: both;
    height: 0px;
    border: 0;
    border-top: 1px solid $grey-light;
    margin: $spacing-4xl auto;

    &.compact {
      margin: $spacing-xl auto;
    }

    &.spaced {
      margin: $spacing-5xl auto;
    }

    &.invisible {
      border-color: transparent;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
  }

  iframe {
    max-width: 100%;
  }

  figure {
    position: relative;
    margin: 0 0 $spacing-xl;

    img {
      width: 100%;
    }
  }

  figcaption {
    @include figcaption;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  cite,
  .cite {
    @include cite;
  }

  blockquote {
    @include blockquote;
  }

  pre {
    clear: both;
    @include typescale('sm', 'em');
    margin: $spacing-lg 0;
    padding: 1em;
    tab-size: 2;
    background: black;
    color: #fff;
    max-width: 100%;
    overflow: auto;
  }

  code {
    display: inline-block;
    @include typescale('sm', 'em');
    background: rgba($primary, 0.05);
    padding: 0 0.2em;
    color: $primary;
    border: 1px rgba($primary, 0.25) solid;
    border-radius: 0.2em;
  }

  table {
    font-size: 0.9em;
    width: 100%;
    margin: 0 0 $spacing-xl;
    border: 1px solid #ddd;
    border-spacing: 0;
    border-collapse: collapse;
  }

  thead {
    border-bottom: 2px solid $primary;

    td {
      background: #fff;
    }
  }

  td, th {
    padding: 1em;
  }

  th {
    background: #fff;
    color: $primary;
  }

  td {
    background: rgba($offwhite, 0.5);
  }

  tr {
    border-bottom: 1px solid #ddd;

    &:nth-child(even) {
      td {
        background: #fff;
      }
    }
  }

  details {
    .accordion-title {
      margin: $spacing-sm 0;
      padding: $spacing-xs;
    }

    .accordion-toggle {
      margin: 0;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .intro,
  .is-style-intro {
    @include typescale('lg');
    max-width: $line-length-max-rem;

    @media (min-width: 40em) {
      @include typescale('xl', 'em');
    }
  }

  .stat {
    @include font-secondary;
    @include typescale('2xl', 'em');
    font-weight: bold;
    color: $primary;
    text-decoration: none;

    a {
      color: $primary;
      text-decoration: none;
    }
  }
}

@mixin h1 {
  @include font-secondary;
  @include line-height('headings');
  @include typescale(map-get($headings-map, 'h1'));
  font-weight: 900;
}

@mixin h2 {
  @include font-secondary;
  @include line-height('headings');
  @include typescale(map-get($headings-map, 'h2'));
  font-weight: 900;
}

@mixin h3 {
  @include font-secondary;
  @include line-height('headings');
  @include typescale(map-get($headings-map, 'h3'));
  font-weight: 900;
}

@mixin h4 {
  @include font-secondary;
  @include line-height('headings');
  @include typescale(map-get($headings-map, 'h4'));
  font-weight: 900;
}

@mixin h5 {
  @include font-secondary;
  @include line-height('headings');
  @include typescale(map-get($headings-map, 'h5'));
  font-weight: 500;
}

@mixin h6 {
  @include font-secondary;
  @include line-height('headings');
  @include typescale(map-get($headings-map, 'h6'));
  font-weight: 500;
}

@mixin blockquote {
  display: table;
  @include font-tertiary;
  font-size: 1.1em;
  @include line-height('spaced');
  position: relative;
  margin: $spacing-lg 0 $spacing-lg;
  padding: 1em 2em;
  border: none;
  border-left: $border-accent-width solid $primary;

  &:before {
    content: open-quote;
    position: relative;
    display: inline-block;
    float: left;
    font-size: 2em;
    line-height: 1;
    margin-left: -0.65em;
    width: 0.65em;
  }

  &:after {
    content: no-close-quote; // this is required for reasons: https://stackoverflow.com/questions/25588665/css-open-quote-shows-1-quotation-mark
  }

  @media (min-width: 40em) {
    font-size: 1.35em;
    margin: $spacing-xl 0;
    padding: 1em calc(2em + 2.5%);
  }

  p {
    font-size: 1em;
    margin: 0 0 0.5em;

    &:only-child {
      margin-bottom: 0;
    }
  }

  q {
    &:before {
      display: none;
    }
  }
}

@mixin cite {
  @include font-primary;
  @include typescale('xs');
  font-style: normal;
  font-weight: bold;
  display: block;
  margin: $spacing-lg 0 0;
}

@mixin figcaption {
  margin: 0;
  padding: $spacing-sm 0;
  @include typescale('xs');
  background: #fff;
  color: $text-color;
  border-bottom: 1px solid $grey-light;
}

@mixin tag {
  @include typescale('xs');
  color: $text-color;
  padding: 0.35em 1em;
  line-height: 1;
  border-radius: 1em;
  text-decoration: none;
}

@mixin tag--hover {
  &:hover {
    text-decoration: underline;
    color: $text-color;
  }
}

@mixin caps {
  text-transform: uppercase;
}
