.list--unbulleted,
.list--unstyled {
  list-style: none;
  padding-left: 0;
}

.list--spaced {
  > li {
    margin-bottom: $spacing-lg;
  }
}

.list--inline {
  padding: 0;

  li {
    display: inline;
    margin-right: $spacing-xs;
  }
}

.list--links {
  @include line-height('normal');

  li {
    margin-bottom: $spacing-sm;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.list--icon-bullets {
  list-style: none;
  padding: 0;

  li {
    padding-left: 1.5em;
  }

  .icon {
    float: left;
    top: 0.5em;
    margin-left: -1.5em;
  }

  a {
    display: inline-table; // prevents icon/text wrapping line
  }

  &.list--inline {
    li {
      margin-right: 1em;
    }
  }

  &.list--links {
    .icon {
      top: 0.2em;
    }
  }
}

.list--icon-bullets {

}

.list--inline-bulleted {
  padding: 0;

  li {
    display: inline;
    margin-right: $spacing-xs;

    &:before {
      content: '•';
      margin-right: $spacing-xs;
      font-weight: bold;
      color: $primary;
    }

    &:first-child {
      &:before {
        display: none;
      }
    }
  }
}

.list--steps {
  list-style: none;
  padding-inline-start: $spacing-xl;
  counter-reset: list--steps;
  margin-bottom: $spacing-4xl;

  li {
    position: relative;
    border-left: $border-accent-width solid $neutral--primary;
    padding-left: $spacing-xl;
    margin-bottom: $spacing-2xl;

    &::before {
      content: counter(list--steps);
      counter-increment: list--steps;
      display: block;
      float: left;
      clear: left;
      margin-left: -#{$spacing-2xl + $spacing-xl};
      width: $spacing-2xl;
      padding: $spacing-2xs 0;
      background: $neutral--primary;
      color: white;
      @include typescale('xl');
      line-height: 1.4; // matches .title
      text-align: center;
    }

  }

  &__box {
    background: $greyblue--superlight;
    padding: calc(#{$spacing-sm} + 2.5%);
    margin-left: -$spacing-xl;
  }

  &__title {
  }

  &__cta {
    .button:only-child {
      margin-bottom: 0;
    }
  }

}



//.list-bordered-items {
//  list-style: none;
//  padding-left: 0;
//
//  li {
//    padding: $spacing-sm 0;
//    border-bottom: 1px solid $grey-light;
//  }
//}

//.list-icon-bullets {
//  list-style: none;
//  padding-left: 0;
//
//  li {
//    @include clearfix;
//    border-bottom: 1px solid $grey-light;
//  }
//
//  a {
//    @include typescale('md');
//    display: block;
//    text-decoration: none;
//    text-decoration-color: black;
//    padding: $spacing-md $spacing-md $spacing-md 3.5rem;
//
//    &:after {
//      bottom: 1.2rem;
//    }
//
//    .icon {
//      font-size: 2.5rem;
//      float: left;
//      margin-top: -0.75rem;
//      margin-left: -3.5rem;
//    }
//
//    &:hover {
//      text-decoration: underline;
//      @include link-pointy--hover;
//    }
//  }
//}
//
//.list-block {
//  list-style: none;
//  padding-left: 0;
//  margin-bottom: $spacing-4xl;
//
//  > li,
//  .item {
//    border-top: 1px solid $grey-light;
//    padding-top: $spacing-xl;
//    margin-bottom: $spacing-xl;
//  }
//
//  .item__title {
//    margin-top: 0;
//  }
//}