<header class="header-site" id="header-site">
  <div class="wrap">
    <a class="site-logo" title="Home" href="/">
      <img src="{{ '/img/logo.png' | path }}" alt="Staffordshire University Logo" class="no-lazy-load">
    </a>

    <button class="button toggle-megaNav" id="toggle-megaNav" aria-controls="megaNav">Menu</button>

    <nav class="megaNav" id="megaNav" role="navigation">
      <div class="megaNav__controls">
        <button>Close</button>
      </div>

      <div class="megaNav__topLevel">
        <ul class="megaNav__topLevel-list">
          <li class="megaNav__topLevel-item ">
            <a class="has-children" href="#">Courses</a>

            <div class="megaNav__level  megaNav__secondLevel">
              <div class="megaNav__levelHeader">
                <button class="megaNav__closeLevel">Courses</button>
              </div>

              <ul class="megaNav__levelList">
                <li class="  ">
                  <a class="has-children" href="#">Subject Areas</a>

                  <div class="megaNav__level  megaNav__thirdLevel">
                    <div class="megaNav__levelHeader">
                      <button class="megaNav__closeLevel">Subject Areas</button>
                    </div>

                    <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                      <li class=""><a class="" href="#">Accounting and Finance</a></li>
                      <li class=""><a class="" href="#">Allied Health and Paramedic Science</a></li>
                      <li class=""><a class="" href="#">Animation</a></li>
                      <li class=""><a class="" href="#">Art and Design</a></li>
                      <li class=""><a class="" href="#">Augmented and Virtual Realities</a></li>
                      <li class=""><a class="" href="#">Biological and Biomedical Sciences</a></li>
                      <li class=""><a class="" href="#">Business and Marketing</a></li>
                      <li class=""><a class="" href="#">Computer Science, AI and Robotics</a></li>
                      <li class=""><a class="" href="#">Drama, Performance and Theatre Studies</a></li>
                      <li class=""><a class="" href="#">Education</a></li>
                      <li class=""><a class="" href="#">Engineering</a></li>
                      <li class=""><a class="" href="#">...</a></li>
                    </ul>
                  </div>
                </li>
                <li class=""><a class="" href="#">Undergraduate</a></li>
                <li class="">
                  <a class="has-children" href="#">Postgraduate</a>

                  <div class="megaNav__level  megaNav__thirdLevel">
                    <div class="megaNav__levelHeader">
                      <button class="megaNav__closeLevel">Postgraduate</button>
                    </div>

                    <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                      <li class=""><a class="" href="#">PG Accounting and Finance</a></li>
                      <li class=""><a class="" href="#">PG Allied Health and Paramedic Science</a></li>
                      <li class=""><a class="" href="#">PG Animation</a></li>
                      <li class=""><a class="" href="#">PG Art and Design</a></li>
                      <li class=""><a class="" href="#">PG Augmented and Virtual Realities</a></li>
                      <li class=""><a class="" href="#">PG Biological and Biomedical Sciences</a></li>
                      <li class=""><a class="" href="#">PG Business and Marketing</a></li>
                      <li class=""><a class="" href="#">PG Computer Science, AI and Robotics</a></li>
                      <li class=""><a class="" href="#">PG Drama, Performance and Theatre Studies</a></li>
                      <li class=""><a class="" href="#">PG Education</a></li>
                      <li class=""><a class="" href="#">PG Engineering</a></li>
                      <li class=""><a class="" href="#">PG ...</a></li>
                      <li class=""><a class="" href="#">PG Accounting and Finance</a></li>
                      <li class=""><a class="" href="#">PG Allied Health and Paramedic Science</a></li>
                      <li class=""><a class="" href="#">PG Animation</a></li>
                      <li class=""><a class="" href="#">PG Art and Design</a></li>
                      <li class=""><a class="" href="#">PG Augmented and Virtual Realities</a></li>
                      <li class=""><a class="" href="#">PG Biological and Biomedical Sciences</a></li>
                      <li class=""><a class="" href="#">PG Business and Marketing</a></li>
                      <li class=""><a class="" href="#">PG Computer Science, AI and Robotics</a></li>
                      <li class=""><a class="" href="#">PG Drama, Performance and Theatre Studies</a></li>
                      <li class=""><a class="" href="#">PG Education</a></li>
                      <li class=""><a class="" href="#">PG Engineering</a></li>
                      <li class=""><a class="" href="#">PG ...</a></li>
                    </ul>
                  </div>
                </li>
                <li class=""><a class="" href="#">Professional</a></li>
                <li class=""><a class="" href="#">Distance Leaning</a></li>
                <li class=""><a class="" href="#">Partnerships</a></li>
                <li class=""><a class="" href="#">Apprenticeships</a></li>
              </ul>

              <div class="megaNav__levelFooter">
                <p>Find a Course</p>
                <form>
                  <input type="text" placeholder="Search on keyword / subject" />
                  <input type="submit" class="button" />
                </form>
              </div>
            </div>
          </li>
          <li class="megaNav__topLevel-item">
            <a class="has-children" href="#">Student life</a>

            <div class="megaNav__level  megaNav__secondLevel">
              <div class="megaNav__levelHeader">
                <button class="megaNav__closeLevel">Student Life</button>
              </div>

              <div class="megaNav__levelFooter">
                <p>What’s it like living here?</p> <p><a href="#" class="button">Book an open day</a></p>
              </div>
            </div>
          </li>
          <li class="megaNav__topLevel-item">
            <a class="" href="#">International</a>
          </li>
          <li class="megaNav__topLevel-item">
            <a class="" href="#">Research</a>
          </li>
          <li class="megaNav__topLevel-item">
            <a class="" href="#">Business</a>
          </li>
          <li class="megaNav__topLevel-item">
            <a class="" href="#">About us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
