.title {
  position: relative;
  --background: #{$red};
  --color: white;
  max-width: 42em; // @TODO: why? what does this relate to? make a variable
  margin-bottom: $spacing-lg;
  margin-right: $spacing-md;

  + .title {
    margin-top: -$spacing-md;
  }
}

.title__highlight {
  position: relative;
  display: inline;
  left: $spacing-xs;
  padding: 0.25rem;
  line-height: 1.4;
  background: $red;
  background: var(--background);
  color: white;
  color: var(--color);
  box-shadow: -$spacing-xs 0 0 0 var(--background), $spacing-xs 0 0 0 var(--background);
  box-decoration-break: clone;
  //border-top: 0.25rem solid transparent;
  //border-bottom: 0.25rem solid transparent;

  a {
    color: var(--color);
  }
}

.title--has-tail {
  .title__highlight { // @TODO: Consider refactoring onto parent to reduce specificity further
    &:before {
      position: absolute;
      content: '';
      margin-top: 2px;
      top: 0;
      left: -0.5rem;
      display: block;
      width: 1000px;
      height: 2px;
      transform: rotate(225deg);
      transform-origin: top left;
      background: $red;
      background: var(--background);
    }
  }
}

.title--bg-white {
  --background: white;
  --color: black;
}

.title--bg-slate {
  --background: #{$slate};
}

.title--bg-maroon {
  --background: #{$maroon};
}

.title--bg-pink {
  --background: #{$pink};
}

.title--bg-tef-gold {
  --background: #{$gold-tef};
}




