<div class="slab  slab--dark">

  {% include '@title' with {
    text: 'This is an H1 with a tail',
    modifiers: ['has-tail'],
    textElement: 'h1'
  } %}

  {% include '@title' with {
    text: 'This is an H3',
    textElement: 'h3'
  } %}

  {% include '@title' with {
    text: 'This is a paragraph on white with a tail',
    modifiers: ['bg-white', 'has-tail'],
    textElement: 'p'
  } %}

  {% include '@title' with {
    text: 'This is an H1 on pink',
    modifiers: ['bg-pink'],
    textElement: 'h2'
  } %}

  {% include '@title' with {
    text: 'This is an H4 on slate',
    modifiers: ['bg-slate'],
    textElement: 'h4'
  } %}

  {% include '@title' with {
    text: 'This is a paragraph on maroon with a tail',
    modifiers: ['bg-maroon', 'has-tail'],
    textElement: 'p'
  } %}

</div>



