
<div class="slab slab--dark">


{% include '@title' with {
    text: 'This is an H1 with a tail',
    classes: ['title__highlight--tail'],
    textElement: 'h1'
} %}
{% include '@title' with {
    text: 'This is an H3',
    textElement: 'h3'
} %}
{% include '@title' with {
    text: 'This is a paragraph on white with a tail',
    classes: ['title__highlight--white'],
    textElement: 'p'
} %}

{% include '@title' with {
    text: 'This is an H1 on pink',
    classes: ['title__highlight--pink'],
    textElement: 'h2'
} %}
{% include '@title' with {
    classes: ['title__highlight--slate'],
    text: 'This is an H4 on slate',
    textElement: 'h4'
} %}
{% include '@title' with {
    text: 'This is a paragraph on maroon with a tail',
    classes: ['title__highlight--maroon title__highlight--tail'],
    textElement: 'p'
} %}


</div>



