{% set textElement = textElement ?: 'h3' %}

{% set classString = '' %}
{% for modifier in modifiers %}
  {% set classString = classString ~ '  title--' ~ modifier %}
{% endfor %}

<div class="title{{ classString ? classString }}">
  <{{ textElement }} class="title__highlight">
  {{ text }}
</{{ textElement }}>
</div>








