.meta {
  @include line-height('normal');

  dt {
    margin-bottom: $spacing-2xs;
  }

  &__item {
    margin-bottom: $spacing-md;
  }
}

.meta--inline-dd {
  dd {
    display: inline;
    margin-right: $spacing-xs;

    &:before {
      content: '•';
      margin-right: $spacing-xs;
      font-weight: bold;
      color: $tertiary;
    }

    &:first-of-type {
      &:before {
        display: none;
      }
    }
  }
}

.meta--inline {
  .meta__item {
    margin-bottom: $spacing-xs;
  }

  dt, dd {
    display: inline-block;
    margin-right: $spacing-xs;
  }

  dd {
    display: inline;

    &:before {
      content: '•';
      margin-right: $spacing-xs;
      font-weight: bold;
      color: $maroon;
    }

    &:first-of-type {
      &:before {
        display: none;
      }
    }
  }
}