.breadcrumb {
  background: rgba(0,0,0,0.6);
  display: inline-block;
  color: #fff;
  margin: 0 0 0.5rem;
  padding: 0.1rem 0;

  ul {
    margin: 0;
    padding: 0;
    @include typescale('sm');

    li {
      display: inline-block;
      margin: 0 0.5rem;


      + li {
        &:before {
          content: '/ ';
          display: inline-block;
          margin: 0 0.5rem 0 0;
        }
        margin: 0 0.5rem 0 0;
      }

      a, a:visited {
        color: #fff;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}