

<div class="title  title--has-tail">
  <h1 class="title__highlight">Alignments</h1>
</div>

<h2>Alignments</h2>

<p>Elements can be aligned left and right within the normal flow of paragraph content using the classes <code>align-left</code> and <code>align-right</code>. Where no specific size is selected, they'll default to <strong>medium</strong> width. This is normally fine.</p>
<p>As these elements are floated, <strong>always make sure there is enough copy to flow all the way around the element to 'clear' it.</strong>

<h2>Sizes</h2>

<p>Elements can be given a size to restrict their width. Normally you don't need to, but if you want to make something explicitly larger or smaller than its default width when aligned, add:</p>

<ul class="list--unstyled">
  <li><code>size-</code></li>
  <li><code>size-</code></li>
  <li><code>size-</code></li>
</ul>

<hr>

<h2>Demo</h2>

<figure class="align-left">
  <img src="https://placeimg.com/335/210/" />
  <figcaption>An image aligned left, with a caption</figcaption>
</figure>

<p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>

<p>Staffordshire University is going global with a programme packed full of free events to start the new decade.</p>

<p>It's normally a good idea to delay adding a heading until you've added enough copy to clear a left-aligned figure, else it can look weird.</p>

<h3 class="h4">Right aligned after a heading</h3>

<figure class="align-right">
  <img src="https://placeimg.com/335/210/" />
  <figcaption>An image aligned right, with a caption</figcaption>
</figure>

<p>Staffordshire University is going global with a programme packed full of free events to start the new decade. The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
<p>Staffordshire University is going global with a programme packed full of free events to start the new decade. The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>

<h2>Blockquote</h2>
<blockquote class="align-left blockquote--short">
  <q>If aligning a quote, make it short.</q>
  <footer>
    <cite>Dan (VP of Alignment Advice)</cite>
  </footer>
</blockquote>

<p>Staffordshire University is going global with a programme packed full of free events to start the new decade. The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
<p>Staffordshire University is going global with a programme packed full of free events to start the new decade. The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
<p>Staffordshire University is going global with a programme packed full of free events to start the new decade. The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>

