

<a class="skip-link screen-reader-text" href="#main-content">Skip to content</a>

<header class="header-site" id="header-site">
  <div class="wrap">
    <div class="header-site__flexContainer">
      <a class="site-logo" title="Home" href="/">
        <img src="../../img/logo.png" alt="Staffordshire University Logo" class="no-lazy-load">
      </a>

      <button class="toggle-megaNav" id="toggle-megaNav" aria-controls="megaNav"><span class="visually-hidden">Menu</span></button>

      <nav class="megaNav" id="megaNav" role="navigation">
        <div class="megaNav__controls">
          <button class="megaNav__close" id="megaNav__close"><span class="visually-hidden">Close</span></button>
        </div>

        <div class="megaNav__topLevel">
          <ul class="megaNav__topLevel-list">
            <li class="megaNav__topLevel-item ">
              <a class="megaNav__topLevel-link  has-children" href="">Courses</a>

              <div class="megaNav__level  megaNav__secondLevel">
                <div class="megaNav__levelHeader">
                  <button class="megaNav__closeLevel">Courses</button>
                </div>

                <ul class="megaNav__levelList  megaNav__secondLevel-list">
                  <li class="megaNav__secondLevel-item  ">
                    <a class="megaNav__secondLevel-link  has-children" href="">Subject Areas</a>

                    <div class="megaNav__level  megaNav__thirdLevel">
                      <div class="megaNav__levelHeader">
                        <button class="megaNav__closeLevel">Subject Areas</button>
                      </div>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Accounting and Finance</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Allied Health and Paramedic Science</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Animation</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Art and Design</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Augmented and Virtual Realities</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Biological and Biomedical Sciences</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Business and Marketing</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Computer Science, AI and Robotics</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Drama, Performance and Theatre Studies</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Education</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Engineering</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">...</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Undergraduate</a></li>
                  <li class="megaNav__secondLevel-item">
                    <a class="megaNav__secondLevel-link  has-children" href="">Postgraduate</a>

                    <div class="megaNav__level  megaNav__thirdLevel">
                      <div class="megaNav__levelHeader">
                        <button class="megaNav__closeLevel">Postgraduate</button>
                      </div>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Accounting and Finance</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Allied Health and Paramedic Science</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Animation</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Art and Design</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Augmented and Virtual Realities</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Biological and Biomedical Sciences</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Business and Marketing</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Computer Science, AI and Robotics</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Drama, Performance and Theatre Studies</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Education</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Engineering</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG ...</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Accounting and Finance</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Allied Health and Paramedic Science</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Animation</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Art and Design</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Augmented and Virtual Realities</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Biological and Biomedical Sciences</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Business and Marketing</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Computer Science, AI and Robotics</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Drama, Performance and Theatre Studies</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Education</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Engineering</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG ...</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Professional</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Distance Leaning</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Partnerships</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Apprenticeships</a></li>
                </ul>

                <div class="megaNav__levelFooter">
                  <p>Find a Course</p>
                  <form>
                    <input type="text" placeholder="Search on keyword / subject"/>
                    <input type="submit" class="button"/>
                  </form>
                </div>
              </div>
            </li>
            <li class="megaNav__topLevel-item">
              <a class="megaNav__topLevel-link  has-children" href="">Student life</a>

              <div class="megaNav__level  megaNav__secondLevel">
                <div class="megaNav__levelHeader">
                  <button class="megaNav__closeLevel">Student Life</button>
                </div>

                <ul class="megaNav__levelList  megaNav__secondLevel-list">
                  <li class="megaNav__secondLevel-item">
                    <a class="megaNav__secondLevel-link  has-children" href="">Accommodation</a>

                    <div class="megaNav__level  megaNav__thirdLevel">
                      <div class="megaNav__levelHeader">
                        <button class="megaNav__closeLevel">Accommodation</button>
                      </div>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Stoke-on-Trent</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Stafford</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Shrewsbury</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Private accommodation</a></li>
                      </ul>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">How to apply</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Guaranteed accommodation</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">International students</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Special requirements</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Frequently asked questions</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Campus and facilities</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Life in Staffordshire</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Getting involved</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Student support</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Life on campus</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Sport</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Chat to a Student</a></li>
                </ul>

                <div class="megaNav__levelFooter">
                  <p>What’s it like living here?</p>
                  <p><a href="" class="button">Book an open day</a></p>
                </div>
              </div>
            </li>
            <li class="megaNav__topLevel-item">
              <a class="megaNav__topLevel-link" href="">International</a>
            </li>
            <li class="megaNav__topLevel-item">
              <a class="megaNav__topLevel-link" href="">Research</a>
            </li>
            <li class="megaNav__topLevel-item">
              <a class="megaNav__topLevel-link" href="">Business</a>
            </li>
            <li class="megaNav__topLevel-item">
              <a class="megaNav__topLevel-link" href="">About us</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<div class="masthead" style="background-image: url('../../img/masthead.jpg');">
    <div class="wrap">
        <nav class="breadcrumbs">
  <ul>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Level 1</a>
    </li>
    <li>
      <a href="#">Level 2</a>
    </li>
  </ul>
</nav>        
  
<div class="title  title--has-tail">
  <h1 class="title__highlight">
  Shortlisted for "University of the year"
</h1>
</div>








        
    
<div class="title  title--bg-white  title--has-tail">
  <h6 class="title__highlight">
  - The Times and The Sunday Times Good University Guide 2020
</h6>
</div>








        

<a href="" class="button">
    Book an open day
</a>
    </div>
</div>

<main id="main-content" role="main" class="">
    <div class="wrap">


    </div>
</main>

<footer class="footer-site">
  <div class="wrap">
    <a class="footer-site__logo" title="Home" href="/">
      <img src="../../img/logo.png" alt="Staffordshire University Logo">
    </a>

    <div class="footer-site__main">

      <div class="grid  grid--spaced">
        <div class="col-3/5  col-reverse">
          <div class="grid  grid--spaced  grid-3-cols">
            <div>
              <h6>Study list</h6>
              <ul class="list--unstyled  list--links">
                <li><a href="">Undergraduate</a></li>
                <li><a href="">Postgraduate</a></li>
                <li><a href="">Part-time</a></li>
                <li><a href="">Professional</a></li>
                <li><a href="">Distance learning</a></li>
                <li><a href="">Two-year accelerated degrees</a></li>
                <li><a href="">Partnerships</a></li>
              </ul>
            </div>

            <div>
              <h6>Information for</h6>
              <ul class="list--unstyled  list--links">
                <li><a href="">Current students</a></li>
                <li><a href="">Current staff</a></li>
                <li><a href="">Schools and colleges</a></li>
                <li><a href="">Alumni</a></li>
              </ul>
            </div>
            <div>
              <h6>Also see</h6>
              <ul class="list--unstyled  list--links">
                <li><a href="">A-Z index</a></li>
                <li><a href="">News</a></li>
                <li><a href="">Events</a></li>
                <li><a href="">Job vacancies</a></li>
                <li><a href="">Legal</a></li>
                <li><a href="">Accessibility</a></li>
                <li><a href="">Modern slavery</a></li>
                <li><a href="">Transparency return</a></li>
              </ul>
            </div>
          </div>

          <h6>Connect With Us</h6>
          <ul class="list--inline  footer-site__social-list">
            <li><a href=""><i class="icon"><img src="../../img/icon-facebook-white.svg" alt="Facebook"/></i></a></li>
            <li><a href=""><i class="icon"><img src="../../img/icon-twitter-white.svg" alt="Twitter"/></i></a></li>
            <li><a href=""><i class="icon"><img src="../../img/icon-youtube-white.svg" alt="YouTube"/></i></a></li>
            <li><a href=""><i class="icon"><img src="../../img/icon-pinterest-white.svg" alt="Pinterest"/></i></a></li>
            <li><a href=""><i class="icon"><img src="../../img/icon-linkedin-white.svg" alt="LinkedIn"/></i></a></li>
            <li><a href=""><i class="icon"><img src="../../img/icon-instagram-white.svg" alt="Instagram"/></i></a></li>
            <li><a href=""><i class="icon"><img src="../../img/icon-snapchat-white.svg" alt="Snapchat"/></i></a></li>
          </ul>
        </div>

        <div class="col-2/5">
          <h6><strong>Staffordshire University</strong></h6>

          <p>
            College Road<br/>
            University Quarter<br/>
            Stoke-on-Trent<br/>
            Staffordshire ST4 2DE<br/>
          </p>

          <p>+44 (0)1782 294000</p>
          <p><a href="">Contact us</a></p>
          <p>&copy; Staffordshire University 2020</p>

        </div>
      </div>
    </div>


  </div>
</footer>






