


    <div class="card  card--flex-overlap  card--maroon">
      <figure class="card__figure">
        <img src="https://placeimg.com/720/360" alt=""/>
      </figure>

      <div class="card__content">
        <div class="title">
          <h3 class="h4  title__highlight"><a href="" class="">Enjoying the View? How computer games can help evaluate landscapes</a></h3>
        </div>
        <p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
      </div>
    </div>

    <div class="card  card--flex-overlap  card--pink">
      <figure class="card__figure">
        <img src="https://placeimg.com/720/360" alt=""/>
      </figure>

      <div class="card__content">
        <a href="" class="link--stretched">
          <div class="title">
            <h3 class="h4  title__highlight">Enjoying the View? How computer games can help evaluate landscapes</h3>
          </div>
        </a>
        <p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
      </div>
    </div>

    <div class="card  card--flex-overlap  card--red">

      <div class="card__content">
        <a href="" class="link--stretched">
          <div class="title">
            <h3 class="h4  title__highlight">Enjoying the View? How computer games can help evaluate landscapes</h3>
          </div>
        </a>
        <p>Example without a figure image</p>
        <p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
      </div>
    </div>
