

<div class="card  card--course">
  <figure class="card__figure">
    <img src="https://placeimg.com/480/240" alt=""/>
  </figure>

  <div class="card__content">
    <h3 class="h4  card__title"><a href="#">Biological Science BA(Hons)/ MSci</a></h3>
    <p>Optional pathways in Pre-med, Genomics , and Ecoloy and Environmental management</p>

    <dl class="meta--inline-dd">
      <div class="meta__item">
        <dt>Study Options</dt>
        <dd>Full time</dd>
        <dd>Part time</dd>
        <dd>Foundation Year</dd>
        <dd>Placement Year</dd>
        <dd>Integrated Masters (MSci)</dd>
      </div>
    </dl>
  </div>
</div>

<hr/>

<div class="grid  grid--spaced  grid-4-cols">
  <div>
    <div class="card  card--course">
      <figure class="card__figure">
        <img src="https://placeimg.com/480/240" alt=""/>
      </figure>

      <div class="card__content">
        <h3 class="h5  card__title"><a href="#">Biological Science BA(Hons)/ MSci</a></h3>
        <p>Optional pathways in Pre-med, Genomics , and Ecoloy and Environmental management</p>

        <dl class="meta--inline-dd">
          <div class="meta__item">
            <dt>Study Options</dt>
            <dd>Full time</dd>
            <dd>Part time</dd>
            <dd>Foundation Year</dd>
            <dd>Placement Year</dd>
            <dd>Integrated Masters (MSci)</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--course">
      <figure class="card__figure">
        <img src="https://placeimg.com/480/240" alt=""/>
      </figure>

      <div class="card__content">
        <h3 class="h5  card__title"><a href="#">Biological Science BA(Hons)/ MSci</a></h3>
        <p>Optional pathways in Pre-med, Genomics , and Ecoloy and Environmental management</p>

        <dl class="meta--inline-dd">
          <div class="meta__item">
            <dt>Study Options</dt>
            <dd>Full time</dd>
            <dd>Part time</dd>
            <dd>Foundation Year</dd>
            <dd>Placement Year</dd>
            <dd>Integrated Masters (MSci)</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--course">
      <figure class="card__figure">
        <img src="https://placeimg.com/480/240" alt=""/>
      </figure>

      <div class="card__content">
        <h3 class="h5  card__title"><a href="#">Biological Science BA(Hons)/ MSci</a></h3>
        <p>Optional pathways in Pre-med, Genomics , and Ecoloy and Environmental management</p>

        <dl class="meta--inline-dd">
          <div class="meta__item">
            <dt>Study Options</dt>
            <dd>Full time</dd>
            <dd>Part time</dd>
            <dd>Foundation Year</dd>
            <dd>Placement Year</dd>
            <dd>Integrated Masters (MSci)</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div>
    <div class="card  card--course">
      <figure class="card__figure">
        <img src="https://placeimg.com/480/240" alt=""/>
      </figure>

      <div class="card__content">
        <h3 class="h5  card__title"><a href="#">Biological Science BA(Hons)/ MSci</a></h3>
        <p>Optional pathways in Pre-med, Genomics , and Ecoloy and Environmental management</p>

        <dl class="meta--inline-dd">
          <div class="meta__item">
            <dt>Study Options</dt>
            <dd>Full time</dd>
            <dd>Part time</dd>
            <dd>Foundation Year</dd>
            <dd>Placement Year</dd>
            <dd>Integrated Masters (MSci)</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
