

<header class="header-site" id="header-site">
  <div class="wrap">
    <div class="header-site__flexContainer">
      <a class="site-logo" title="Home" href="/">
        <img src="../../img/logo.png" alt="Staffordshire University Logo" class="no-lazy-load">
      </a>

      <button class="toggle-megaNav" id="toggle-megaNav" aria-controls="megaNav"><span class="visually-hidden">Menu</span></button>

      <nav class="megaNav" id="megaNav" role="navigation">
        <div class="megaNav__controls">
          <button class="megaNav__close" id="megaNav__close"><span class="visually-hidden">Close</span></button>
        </div>

        <div class="megaNav__topLevel">
          <ul class="megaNav__topLevel-list">
            <li class="megaNav__topLevel-item has-children">
              <a class="megaNav__topLevel-link  " href="">Courses</a>

              <div class="megaNav__level  megaNav__secondLevel">
                <div class="megaNav__levelHeader">
                  <button class="megaNav__closeLevel">Courses</button>
                </div>

                <ul class="megaNav__levelList  megaNav__secondLevel-list">
                  <li class="megaNav__secondLevel-item  has-children">
                    <a class="megaNav__secondLevel-link  " href="">Subject Areas</a>

                    <div class="megaNav__level  megaNav__thirdLevel">
                      <div class="megaNav__levelHeader">
                        <button class="megaNav__closeLevel">Subject Areas</button>
                      </div>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Accounting and Finance</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Allied Health and Paramedic Science</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Animation</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Art and Design</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Augmented and Virtual Realities</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Biological and Biomedical Sciences</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Business and Marketing</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Computer Science, AI and Robotics</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Drama, Performance and Theatre Studies</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Education</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Engineering</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">...</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Undergraduate</a></li>
                  <li class="megaNav__secondLevel-item  has-children">
                    <a class="megaNav__secondLevel-link  " href="">Postgraduate</a>

                    <div class="megaNav__level  megaNav__thirdLevel">
                      <div class="megaNav__levelHeader">
                        <button class="megaNav__closeLevel">Postgraduate</button>
                      </div>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Accounting and Finance</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Allied Health and Paramedic Science</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Animation</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Art and Design</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Augmented and Virtual Realities</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Biological and Biomedical Sciences</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Business and Marketing</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Computer Science, AI and Robotics</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Drama, Performance and Theatre Studies</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Education</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Engineering</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG ...</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Accounting and Finance</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Allied Health and Paramedic Science</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Animation</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Art and Design</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Augmented and Virtual Realities</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Biological and Biomedical Sciences</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Business and Marketing</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Computer Science, AI and Robotics</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Drama, Performance and Theatre Studies</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Education</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Engineering</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG ...</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Professional</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Distance Leaning</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Partnerships</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Apprenticeships</a></li>
                </ul>

                <div class="megaNav__levelFooter">
                  <p>Find a Course</p>
                  <form>
                    <input type="text" placeholder="Search on keyword / subject"/>
                    <input type="submit" class="button"/>
                  </form>
                </div>
              </div>
            </li>
            <li class="megaNav__topLevel-item  has-children">
              <a class="megaNav__topLevel-link  " href="">Student life</a>

              <div class="megaNav__level  megaNav__secondLevel">
                <div class="megaNav__levelHeader">
                  <button class="megaNav__closeLevel">Student Life</button>
                </div>

                <ul class="megaNav__levelList  megaNav__secondLevel-list">
                  <li class="megaNav__secondLevel-item  has-children">
                    <a class="megaNav__secondLevel-link  " href="">Accommodation</a>

                    <div class="megaNav__level  megaNav__thirdLevel">
                      <div class="megaNav__levelHeader">
                        <button class="megaNav__closeLevel">Accommodation</button>
                      </div>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Stoke-on-Trent</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Stafford</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Shrewsbury</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Private accommodation</a></li>
                      </ul>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">How to apply</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Guaranteed accommodation</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">International students</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Special requirements</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Frequently asked questions</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Campus and facilities</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Life in Staffordshire</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Getting involved</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Student support</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Life on campus</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Sport</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Chat to a Student</a></li>
                </ul>

                <div class="megaNav__levelFooter">
                  <p>What’s it like living here?</p>
                  <p><a href="" class="button">Book an open day</a></p>
                </div>
              </div>
            </li>
            <li class="megaNav__topLevel-item">
              <a class="megaNav__topLevel-link" href="">International</a>
            </li>
            <li class="megaNav__topLevel-item  has-children">
              <a class="megaNav__topLevel-link " href="">Research</a>

              <div class="megaNav__level  megaNav__secondLevel">
                <div class="megaNav__levelHeader">
                  <button class="megaNav__closeLevel">Research</button>
                </div>

                <ul class="megaNav__levelList  megaNav__secondLevel-list">
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                </ul>

                <div class="megaNav__levelFooter">
                  <p>What’s it like living here?</p>
                  <p><a href="" class="button">Book an open day</a></p>
                </div>
              </div>
            </li>
            <li class="megaNav__topLevel-item  has-children">
              <a class="megaNav__topLevel-link " href="">Business</a>

              <div class="megaNav__level  megaNav__secondLevel">
                <div class="megaNav__levelHeader">
                  <button class="megaNav__closeLevel">Business</button>
                </div>

                <ul class="megaNav__levelList  megaNav__secondLevel-list">
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item  has-children">
                    <a class="megaNav__secondLevel-link  " href="">Test Item</a>

                    <div class="megaNav__level  megaNav__thirdLevel">
                      <div class="megaNav__levelHeader">
                        <button class="megaNav__closeLevel">Test Item</button>
                      </div>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>

                <div class="megaNav__levelFooter">
                  <p>What’s it like living here?</p>
                  <p><a href="" class="button">Book an open day</a></p>
                </div>
              </div>
            </li>
            <li class="megaNav__topLevel-item  has-children">
              <a class="megaNav__topLevel-link " href="">About us</a>

              <div class="megaNav__level  megaNav__secondLevel">
                <div class="megaNav__levelHeader">
                  <button class="megaNav__closeLevel">About us</button>
                </div>

                <ul class="megaNav__levelList  megaNav__secondLevel-list">
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item  has-children">
                    <a class="megaNav__secondLevel-link  " href="">Test Item</a>

                    <div class="megaNav__level  megaNav__thirdLevel">
                      <div class="megaNav__levelHeader">
                        <button class="megaNav__closeLevel">Test Item</button>
                      </div>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                      </ul>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item  has-children">
                    <a class="megaNav__secondLevel-link  " href="">Test Item</a>

                    <div class="megaNav__level  megaNav__thirdLevel">
                      <div class="megaNav__levelHeader">
                        <button class="megaNav__closeLevel">Test Item</button>
                      </div>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                </ul>

                <div class="megaNav__levelFooter">
                  <p>What’s it like living here?</p>
                  <p><a href="" class="button">Book an open day</a></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<div class="masthead" style="background-image: url('../../img/masthead.jpg');">
  <div class="wrap">
    <nav class="breadcrumbs">
  <ul>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Level 1</a>
    </li>
    <li>
      <a href="#">Level 2</a>
    </li>
  </ul>
</nav>    
    

<div class="title  title--has-tail  js-waypoint">
  <h1 class="title__highlight">
  Austria
</h1>
</div>








  </div>
</div>

<main id="main-content" role="main" class="">

  <div class="slab  slab--bg-offwhite">
    <div class="wrap">
      <p class="intro">We welcome students from all over the world. Our safe and friendly campus offers award-winning teaching, research excellence, modern accommodation and outstanding facilities..</p>
    </div>
  </div>

  <div class="slab">
    <div class="wrap">
      <p>Based in the vibrant and cultural city of Stoke-on-Trent, our central location makes a great base for you to explore the rest of the UK.</p>
      <p>By studying with us, you can achieve a qualification and skills to make a real impact in your chosen career and our dedicated international team is here to support you throughout your journey.</p>
      <p>Why not take the first step and contact us to discuss your application?</p>
    </div>
  </div>

  <div class="slab">
    <header class="slab__header  section-header  section-header--bg-offwhite  section-header--border-top">
      <div class="wrap">
        <div class="section-header__title  title  title--has-tail  js-waypoint">
          <h1 class="h2  title__highlight">Entry Requirements</h1>
        </div>
      </div>
    </header>

    <div class="wrap">

      <div class="tabs  js-tabs">
        <nav class="tabs__nav">
          <ul class="tabs__list">
            <li class="tabs__item"><a class="tabs__link" href="#undergraduate">Undergraduate</a></li>
            <li class="tabs__item"><a class="tabs__link" href="#postgraduate">Postgraduate</a></li>
          </ul>
        </nav>

        <section class="tabs__section" id="undergraduate">
          <h2 class="visually-hidden">Undergraduate</h2>

          <div class="grid  grid--spaced">
            <div class="col-3/4@tablet-wide">
              <h3 class="h4  margin-top-none">Undergraduate (bachelor's) degrees</h3>

              <p>To apply for an undergraduate (bachelor’s) degree you need one of the following qualifications:</p>

              <ul>
                <li>Obtain 2.3 in the Reifeprufungszeugnis/ Maturazeugnis</li>
                <li>International Baccalaureate (IB) Diploma with 28 points overall</li>
                <li>Successful completion of a relevant International Foundation Year from a recognised UK Institution</li>
                <li>For A-Level requirements, please see the ‘entry requirements’ section on the relevant course page</li>
              </ul>

              <h3 class="h4">Integrated master's and two-year accelerated degrees</h3>

              <p>To apply for an integrated master’s or two-year accelerated degree you need one of the following qualifications:</p>

              <ul>
                <li>Obtain 2.0. in the Reifeprufungszeugnis/ Maturazeugnis</li>
                <li>International Baccalaureate (IB) Diploma with 30 points overall</li>
                <li>Successful completion of a relevant International Foundation Year from a recognised UK Institution</li>
                <li>For A-Level requirements, please see the ‘entry requirements’ section on the relevant course page</li>
              </ul>

              <p>Some of our courses may require more specific qualifications. For the exact entry requirements for your course, please see the individual course pages. If you are not sure and would like further help, please contact us.</p>

              <h3 class="h4">English language requirements</h3>

              <ul>
                <li>2.0. in the English module of the Reifeprufungszeugnis/ Maturazeugnis</li>
              </ul>
            </div>

            <div class="col-1/4@tablet-wide">
              <div class="box  box--bg-offwhite  box--padded">
                Contact Us
              </div>
            </div>
        </section>

      </div>
    </div>

</main>

<div class="slab  slab--bg-slate-light ">
  <div class="wrap">

    <div class="accolade-slider  js-slider--accolades">
              <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Rated Gold for Teaching Excellence</div>
            <div class="accolade-slider__item-description">
              <p>Teaching Excellence Framework</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-tef-gold.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Top 40 UK University</div>
            <div class="accolade-slider__item-description">
              <p> 37th out of 121 institutions University League Tables 2020</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-guardian.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">University of the Year Shortlist</div>
            <div class="accolade-slider__item-description">
              <p>Teaching Excellence Framework</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-times.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Top 1000 in the World Rankings</div>
            <div class="accolade-slider__item-description">
              <p> Times Higher Education Awards</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
            <div class="accolade-slider__item-description">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
            <div class="accolade-slider__item-description">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>
              <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Rated Gold for Teaching Excellence</div>
            <div class="accolade-slider__item-description">
              <p>Teaching Excellence Framework</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-tef-gold.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Top 40 UK University</div>
            <div class="accolade-slider__item-description">
              <p> 37th out of 121 institutions University League Tables 2020</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-guardian.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">University of the Year Shortlist</div>
            <div class="accolade-slider__item-description">
              <p>Teaching Excellence Framework</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-times.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Top 1000 in the World Rankings</div>
            <div class="accolade-slider__item-description">
              <p> Times Higher Education Awards</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
            <div class="accolade-slider__item-description">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
            <div class="accolade-slider__item-description">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>
          </div>

  </div>
</div><footer class="footer-site">
  <div class="wrap">
    <a class="footer-site__logo" title="Home" href="/">
      <img src="../../img/logo.png" alt="Staffordshire University Logo">
    </a>

    <div class="footer-site__main">

      <div class="grid  grid--spaced">
        <div class="col-3/5  col-reverse">
          <div class="grid  grid--spaced  grid-3-cols">
            <div>
              <h6>Study list</h6>
              <ul class="list--unstyled  list--links">
                <li><a href="">Undergraduate</a></li>
                <li><a href="">Postgraduate</a></li>
                <li><a href="">Part-time</a></li>
                <li><a href="">Professional</a></li>
                <li><a href="">Distance learning</a></li>
                <li><a href="">Two-year accelerated degrees</a></li>
                <li><a href="">Partnerships</a></li>
              </ul>
            </div>

            <div>
              <h6>Information for</h6>
              <ul class="list--unstyled  list--links">
                <li><a href="">Current students</a></li>
                <li><a href="">Current staff</a></li>
                <li><a href="">Schools and colleges</a></li>
                <li><a href="">Alumni</a></li>
              </ul>
            </div>
            <div>
              <h6>Also see</h6>
              <ul class="list--unstyled  list--links">
                <li><a href="">A-Z index</a></li>
                <li><a href="">News</a></li>
                <li><a href="">Events</a></li>
                <li><a href="">Job vacancies</a></li>
                <li><a href="">Legal</a></li>
                <li><a href="">Accessibility</a></li>
                <li><a href="">Modern slavery</a></li>
                <li><a href="">Transparency return</a></li>
              </ul>
            </div>
          </div>

          <h6>Connect With Us</h6>
          <ul class="list--inline  footer-site__social-list">
            <li><a href=""><i class="icon"><img src="../../img/icon-facebook-white.svg" alt="Facebook"/></i></a></li>
            <li><a href=""><i class="icon"><img src="../../img/icon-twitter-white.svg" alt="Twitter"/></i></a></li>
            <li><a href=""><i class="icon"><img src="../../img/icon-youtube-white.svg" alt="YouTube"/></i></a></li>
            <li><a href=""><i class="icon"><img src="../../img/icon-pinterest-white.svg" alt="Pinterest"/></i></a></li>
            <li><a href=""><i class="icon"><img src="../../img/icon-linkedin-white.svg" alt="LinkedIn"/></i></a></li>
            <li><a href=""><i class="icon"><img src="../../img/icon-instagram-white.svg" alt="Instagram"/></i></a></li>
            <li><a href=""><i class="icon"><img src="../../img/icon-snapchat-white.svg" alt="Snapchat"/></i></a></li>
          </ul>
        </div>

        <div class="col-2/5">
          <h6><strong>Staffordshire University</strong></h6>

          <p>
            College Road<br/>
            University Quarter<br/>
            Stoke-on-Trent<br/>
            Staffordshire ST4 2DE<br/>
          </p>

          <p>+44 (0)1782 294000</p>
          <p><a href="">Contact us</a></p>
          <p>&copy; Staffordshire University 2020</p>

        </div>
      </div>
    </div>


  </div>
</footer>






