

<div class="masthead" style="background-image: url('../../img/masthead.jpg');">
    <div class="wrap">
        <nav class="breadcrumb">
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Level 1</a>
        </li>
        <li>
            <a href="#">Level 2</a>
        </li>
    </ul>
</nav>        
    
<div class="title">
    <h1 class="title__highlight  title__highlight--tail">
        Shortlisted for "University of the year"
    </h1>
</div>








        
    
<div class="title">
    <h6 class="title__highlight  title__highlight--white title__highlight--tail">
        - The Times and The Sunday Times Good University Guide 2020
    </h6>
</div>








        

<a href="" class="button">
    Book an open day
</a>
    </div>
</div>

