

<article class="multipage-form" role="form">
  <aside>
    <ul class="multipage-form__progress-indicator"></ul>
  </aside>
  <section class="multipage-form__page" data-page-no="1" aria-labelledby="page-1-heading">
    <h2 id="page-1-heading">Page 1</h2>
    <fieldset>
      <legend class="">Example legend</legend>

      <div class="form__item">
        <label for="select">Example select</label>
        <select id="select">
            
          <option value="" selected="selected">Please select a subject</option>
          <option value="Accounting and Finance" data-key="0/36/37/38">
              Accounting and Finance
          </option>
          <option value="Allied Health and Paramedic Science" data-key="0/36/37/274">
              Allied Health and Paramedic Science
          </option>
          <option value="Animation" data-key="0/36/37/174">
              Animation
          </option>
          <option value="Art and Design" data-key="0/36/37/175">
              Art and Design
          </option>
          <option value="Augmented and Virtual Realities" data-key="0/36/37/490">
              Augmented and Virtual Realities
          </option>
          <option value="Biological and Biomedical Sciences" data-key="0/36/37/176">
              Biological and Biomedical Sciences
          </option>
          <option value="Business and Marketing" data-key="0/36/37/177">
              Business and Marketing
          </option>
          <option value="Computer Science, AI and Robotics" data-key="0/36/37/178">
              Computer Science, AI and Robotics
          </option>
          <option value="Drama, Performance and Theatre Studies" data-key="0/36/37/179">
              Drama, Performance and Theatre Studies
          </option>
          <option value="Education" data-key="0/36/37/180">
              Education
          </option>
          <option value="Engineering" data-key="0/36/37/181">
              Engineering
          </option>
          <option value="English, Creative Writing and Philosophy" data-key="0/36/37/182">
              English, Creative Writing and Philosophy
          </option>
          <option value="Esports" data-key="0/36/37/262">
              Esports
          </option>
          <option value="Fashion" data-key="0/36/37/183">
              Fashion
          </option>
          <option value="Film and Media" data-key="0/36/37/184">
              Film and Media
          </option>
          <option value="Forensic Sciences and Policing" data-key="0/36/37/186">
              Forensic Sciences and Policing
          </option>
          <option value="Games Arts and Visual Effects" data-key="0/36/37/281">
              Games Arts and Visual Effects
          </option>
          <option value="Games Culture, PR and Management" data-key="0/36/37/429">
              Games Culture, PR and Management
          </option>
          <option value="Games Design, Production and Programming" data-key="0/36/37/280">
              Games Design, Production and Programming
          </option>
          <option value="International Studies and History" data-key="0/36/37/464">
              International Studies and History
          </option>
          <option value="Journalism and Content Creation" data-key="0/36/37/192">
              Journalism and Content Creation
          </option>
          <option value="Law" data-key="0/36/37/193">
              Law
          </option>
          <option value="Music and Sound" data-key="0/36/37/194">
              Music and Sound
          </option>
          <option value="Nursing and Midwifery" data-key="0/36/37/195">
              Nursing and Midwifery
          </option>
          <option value="Psychology and Counselling" data-key="0/36/37/199">
              Psychology and Counselling
          </option>
          <option value="Social Work and Social Welfare" data-key="0/36/37/202">
              Social Work and Social Welfare
          </option>
          <option value="Sociology, Criminology and Terrorism" data-key="0/36/37/201">
              Sociology, Criminology and Terrorism
          </option>
          <option value="Sport and Exercise" data-key="0/36/37/203">
              Sport and Exercise
          </option>
          <option value="Tourism and Event Management" data-key="0/36/37/205">
              Tourism and Event Management
          </option>

    </fieldset>
    <a href="#" class="button  multipage-form__next-btn" data-target="2">
      Next
    </a>
  </section>
  <section class="multipage-form__page" data-page-no="2" aria-hidden="true" aria-labelledby="page-2-heading" style="display: none;">
    <h2 id="page-2-heading">Page 2</h2>
    <fieldset class="form__group">
      <legend>Checkboxes: default</legend>
      <label>
        <input type="checkbox" value="">
        Check this checkbox
      </label>
      <label>
        <input type="checkbox" value="">
        Check this checkbox
      </label>
    </fieldset>
    <a href="#" class="button  multipage-form__prev-btn" data-target="1">
      Prev
    </a>
</section>
</article>
