

<a class="skip-link screen-reader-text" href="#main-content">Skip to content</a>

<header class="header-site" id="header-site">
  <div class="wrap">
    <div class="flex-container">

      <button class="toggle-nav-primary" id="toggle-nav-primary" aria-controls="nav-primary"><i class="icon icon-menu-pink"></i><span class="visually-hidden">Menu</span></button>

      <a class="site-logo" title="Home" href="/">
      </a>

      <button class="toggle-site-search" id="toggle-site-search" aria-controls="site-search"><i class="icon icon-search-pink"></i><span class="visually-hidden">Search</span></button>
    </div>
  </div>

  <nav class="nav-primary" id="nav-primary" role="navigation">
    <div class="wrap">
        <ul class="">
                      <li class="">
              <a class="" href="/">Title</a>
            </li>
                  </ul>
    </div>
  </nav>
</header>

