


<div class="slab  slab--bg-slate-light ">
  <div class="wrap">

    <div class="accolade-slider  js-slider--accolades">
              <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Rated Gold for Teaching Excellence</div>
            <div class="accolade-slider__item-description">
              <p>Teaching Excellence Framework</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-tef-gold.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Top 40 UK University</div>
            <div class="accolade-slider__item-description">
              <p> 37th out of 121 institutions University League Tables 2020</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-guardian.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">University of the Year Shortlist</div>
            <div class="accolade-slider__item-description">
              <p>Teaching Excellence Framework</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-times.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Top 1000 in the World Rankings</div>
            <div class="accolade-slider__item-description">
              <p> Times Higher Education Awards</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
            <div class="accolade-slider__item-description">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
            <div class="accolade-slider__item-description">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>
              <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Rated Gold for Teaching Excellence</div>
            <div class="accolade-slider__item-description">
              <p>Teaching Excellence Framework</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-tef-gold.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Top 40 UK University</div>
            <div class="accolade-slider__item-description">
              <p> 37th out of 121 institutions University League Tables 2020</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-guardian.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">University of the Year Shortlist</div>
            <div class="accolade-slider__item-description">
              <p>Teaching Excellence Framework</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-times.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Top 1000 in the World Rankings</div>
            <div class="accolade-slider__item-description">
              <p> Times Higher Education Awards</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
            <div class="accolade-slider__item-description">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
            <div class="accolade-slider__item-description">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>
          </div>

  </div>
</div>
