

<div class="tabs">
  <nav class="tabs__nav">
    <ul>
      <li><a href="#section1">First: Section 1</a></li>
      <li><a href="#section2">Section Two</a></li>
      <li><a href="#section3">Third Section</a></li>
      <li><a href="#section4">Fourth and Final</a></li>
    </ul>
  </nav>

  <section class="tabs__section" id="section1">
    Lipsum has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </section>

  <section class="tabs__section" id="section2">
    Lipsum has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </section>

  <section class="tabs__section" id="section3">
    Lipsum has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </section>

  <section class="tabs__section" id="section4">
    Lipsum has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </section>
</div>
