

<a class="skip-link screen-reader-text" href="#main-content">Skip to content</a>


<header class="header-site" id="header-site">
    <div class="nav-primary-container">
        <div class="wrap">
            <a class="site-logo" title="Home" href="/">
                <img src="../../img/logo.png" alt="Staffordshire University Logo" class="no-lazy-load">
            </a>
            <button class="nav-primary-toggle  button is-style-small is-style-outline-white" id="nav-primary-toggle" aria-controls="nav-primary">Menu</button>
            <nav class="nav-primary" id="nav-primary" role="navigation">
                <ul>
                    <li class=""> <a class="" href="#">Courses</a></li>
                    <li class=""> <a class="" href="#">Student life</a></li>
                    <li class=""> <a class="" href="#">International</a></li>
                    <li class=""> <a class="" href="#">Research</a></li>
                    <li class=""> <a class="" href="#">Business</a></li>
                    <li class=""> <a class="" href="#">About us</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="masthead" style="background-image: url('../../img/masthead.jpg');">
    <div class="wrap">
        <nav class="breadcrumbs">
  <ul>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Level 1</a>
    </li>
    <li>
      <a href="#">Level 2</a>
    </li>
  </ul>
</nav>        
  
<div class="title  title--has-tail">
  <h1 class="title__highlight">
  Shortlisted for "University of the year"
</h1>
</div>








        
    
<div class="title  title--bg-white  title--has-tail">
  <h6 class="title__highlight">
  - The Times and The Sunday Times Good University Guide 2020
</h6>
</div>








        

<a href="" class="button">
    Book an open day
</a>
    </div>
</div>

<main id="main-content" role="main" class="">

  <div class="wrap">

    <h1>This is an h1</h1>
    <p class="intro">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <h2>This is an h2</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <h3>This is an h3</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <h4>This is an h4</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <h5>This is an h5</h5>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <h6>This is an h6</h6>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

  </div>

</main>



<footer class="footer-site">
  <div class="wrap">
    <div class="grid  grid--spaced  grid-5-cols">
      <div>
        <a class="footer-site__logo" title="Home" href="/">
          <img src="../../img/logo.png" alt="Staffordshire University Logo">
        </a>
      </div>
    </div>

    <div class="grid  grid--spaced  grid-5-cols">
      <div>address</div>
      <div></div>
      <div>Study list</div>
      <div>Information for</div>
      <div>Also see</div>
    </div>

    <div class="grid  grid--spaced">
      <div>
        social icons
      </div>
    </div>
  </div>
</footer>






