

<div class="slab  slab--dark">

  
  
<div class="title  title--has-tail">
  <h1 class="title__highlight">
  This is an H1 with a tail
</h1>
</div>









  

<div class="title">
  <h3 class="title__highlight">
  This is an H3
</h3>
</div>









  
    
<div class="title  title--bg-white  title--has-tail">
  <p class="title__highlight">
  This is a paragraph on white with a tail
</p>
</div>









  
  
<div class="title  title--bg-pink">
  <h2 class="title__highlight">
  This is an H1 on pink
</h2>
</div>









  
  
<div class="title  title--bg-slate">
  <h4 class="title__highlight">
  This is an H4 on slate
</h4>
</div>









  
    
<div class="title  title--bg-maroon  title--has-tail">
  <p class="title__highlight">
  This is a paragraph on maroon with a tail
</p>
</div>









</div>




