$card__internal-spacing: $spacing-sm;

.card {
  $accent-colors: (
    'red': $red,
    'pink': $pink,
    'maroon': $maroon,
    'slate': $slate,
  );

  display: block;
  position: relative;
  --accent-color: #{$red};
  margin-bottom: $spacing-xl;
  border-left: $border-accent-width solid $maroon;
  border-color: var(--accent-color);

  a {
    color: #{$red};
    color: var(--accent-color);
    text-decoration: none;
    border-bottom: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin-bottom: $card__internal-spacing;
  }

  &__content {
    padding: 0 calc(#{$card__internal-spacing} + 2.5%);

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: $spacing-md;

    &--overlap:first-child {
      margin-top: -#{$spacing-3xl};
    }
  }

  //--  Child elements affected by accent colour

  .blockquote__title {
    color: var(--accent-color);
  }

  .title__highlight {
    --background: var(--accent-color);
  }

  .meta--inline-dd,
  .meta--inline {
    dd:before {
      color: var(--accent-color);
    }
  }

  //--  ACCENT THEMES

  @each $name, $value in $accent-colors {
    &--#{$name} {
      --accent-color: #{$value};
    }
  }
}

a.card {
  text-decoration: none;

  &:hover {
    color: $text-color;

    .title__highlight {
      text-decoration: underline;
    }
  }
}

//--  VARIANTS

.card--testimonial {
  padding-bottom: $card__internal-spacing;
}

.card--course {
}

.card--result {
}

.card--ksp {
  color: $slate;

  &__icon {
    //margin-bottom: $card__internal-spacing;
  }
}

.card--event {
  margin-left: $spacing-4xl;

  .card__figure {
    margin-bottom: -#{$spacing-sm};
  }

  .card__date {
    position: absolute;
    top: 0;
    left: -$spacing-4xl;
    width: $spacing-4xl;
    @include typescale('xs');
    padding: $spacing-sm 0;
    color: white;
    background: $maroon;
    background: var(--accent-color);
    line-height: 1;
    text-align: center;
    box-sizing: border-box;
  }

  .card__day {
    display: block;
    font-weight: 500;
    @include typescale('xl');

    @media (min-width: map_get($breakpoint-stages, 'mobile-wide')) {
      @include typescale('3xl');
    }
  }

  @media (min-width: (map_get($breakpoint-stages, 'tablet-wide') + 5rem)) {
    margin-left: $spacing-5xl;

    .card__date {
      left: -$spacing-5xl;
      width: $spacing-5xl;
    }

    .card__day {
      @include typescale('5xl');
    }
  }
}