<ul class="list--unstyled">
  {% for i in 1..5 %}
    <li>
      <div class="card  card--result">
        <div class="card__content">
          <h2 class="h4  card__title"><a href="" class="link--stretched">{{ placeholderHeadline2 }}</a></h2>
          <p>{{ placeholderPara1 }}</p>
          <p><span class="url  font-sm">https://www.staffs.ac.uk/study/disabled/support/whattoexpectfromdss.jsp</span></p>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
