<div class="card  card--testimonial">
  <div class="card__content">
    <blockquote>
      <figure class="blockquote__figure  align-right  size-small">
        <img src="https://placeimg.com/480/480/people" alt=""/>
      </figure>

      <q class="blockquote__title">Great relationships with leading institutions</q>

      <div class="blockquote__prose">
        <p>I really enjoy the broad range of psycholoy content, the tutors are supportive and really helpful!</p>
        <p>The facilities are perfect with very advanced equipment, making my studies even m oreinteresting. I particularly enjoy studies in anxiety and how this can influence sports performance. The facilities are perfect with very advanced equipment, making my studies even m oreinteresting. I particularly enjoy studies in anxiety and how this can influence sports performance.</p>
        <p>The facilities are perfect with very advanced equipment, making my studies even m oreinteresting. I particularly enjoy studies in anxiety and how this can influence sports performance. </p>
      </div>

      <footer class="blockquote__footer">
        <p class="cite">Christie Scanion, Graduate </p>
        <p>BA(Hons) Sports Development and Coaching (Former title of our Sports Coaching degree)</p>
      </footer>
    </blockquote>
  </div>
</div>