.debug {
  * {
    box-shadow: 0 0 0.5em rgba(255, 0, 0, 0.75), inset 0 0 0.5em rgba(0, 255, 0, 0.75) !important;
  }
}

@each $name, $value in $utils-bg-colors {
  .bg-#{$name} {
    background: $value !important;

    //@if (lightness($value) < 50) {
    //color: #fff;
    //}
  }
}

@each $name, $value in $utils-text-colors {
  .text-color-#{$name} {
    color: $value !important;
  }
}


.text-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
}

.text-left {
  margin-right: auto;
  text-align: left !important;
}

.text-right {
  margin-left: auto;
  text-align: right !important;
}

.text-columns {
  columns: 25em;
  column-gap: $grid-gutter;

  p {
    break-inside: avoid;
  }
}

@each $name, $value in $utils-margin-sizes {
  .margin-y-#{$name} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }

  .margin-top-#{$name} {
    margin-top: $value !important;
  }

  .margin-bottom-#{$name} {
    margin-bottom: $value !important;
  }
}

.margin-top-none,
.margin-y-none {
  margin-top: 0 !important;
}

.margin-bottom-none,
.margin-y-none {
  margin-bottom: 0 !important;
}

.js .js-hidden {
  display: none;
}

.stretched-link {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    // Just in case `pointer-events: none` is set on a parent
    pointer-events: auto;
    content: "";
    // IE10 bugfix, see https://stackoverflow.com/questions/16947967/ie10-hover-pseudo-class-doesnt-work-without-background-color
    background-color: rgba(0, 0, 0, 0);
  }
}