$card__internal-spacing: $spacing-sm;

.card {
  position: relative;
  --accent-color: #{$maroon};
  margin-bottom: $spacing-xl;
  border-left: $border-accent-width solid var(--accent-color);

  a {
    color: var(--accent-color);
    //text-decoration-color: var(--accent-color);
    text-decoration: none;
    border-bottom: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin-bottom: $card__internal-spacing;
  }

  &__content {
    padding: 0 calc(#{$card__internal-spacing} + 2.5%);

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: $spacing-md;
  }
}

//--

.card--pink {
  --accent-color: #{$pink};
}

.card--red {
  --accent-color: #{$red};
}

.card--purple {
  --accent-color: #{$maroon};
}

//--

.card--testimonial {
  padding-bottom: $card__internal-spacing;

  .blockquote__title {
    color: var(--accent-color);
  }
}

.card--course {
}

.card--result {
}

.card--ksp {
  color: $slate;

  &__icon {
    //margin-bottom: $card__internal-spacing;
  }
}