<a class="feature-link" href="">
  <figure class="feature-link__figure">
    <img src="https://picsum.photos/720/360?random=1" alt=""/>
  </figure>

  <div class="feature-link__content">
    <h3 class="h4 feature-link__title">Life in Staffordshire</h3>
    <p>Where you live is a big part of your student experience and where you’ll meet friends for life.</p>
  </div>
</a>