<div class="grid  grid--spaced  grid-2-cols">
  <div>
    <a class="feature-link">
      <figure class="feature-link__figure">
        <img src="https://placeimg.com/720/360/people" alt=""/>
      </figure>

      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Accommodation</h3>
        <p>Where you live is a big part of your student experience and where you’ll meet friends for life.</p>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link">
      <figure class="feature-link__figure">
        <img src="https://placeimg.com/720/360/nature" alt=""/>
      </figure>

      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Life in Staffordshire</h3>
        <p>We’ve invested in great new facilities on campus to make Staffordshire University a hub of activity and opportunity.</p>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link">
      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Getting involved</h3>
        <p>Where you live is a big part of your student experience and where you’ll meet friends for life.</p>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link">
      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Campus & facilities</h3>
        <p>Where you live is a big part of your student experience and where you’ll meet friends for life.</p>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link">
      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Student Support</h3>
        <p>Where you live is a big part of your student experience and where you’ll meet friends for life.</p>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link">
      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Life on campus</h3>
        <p>Where you live is a big part of your student experience and where you’ll meet friends for life.</p>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link">
      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Link name here</h3>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link">
      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">{{ placeholderHeadline }}</h3>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link">
      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Text link (short)</h3>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link">
      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">{{ loremShort }}</h3>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link">
      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Text link (short)</h3>
      </div>
    </a>
  </div>

  <div>
    <a class="feature-link">
      <div class="feature-link__content">
        <h3 class="h4 feature-link__title">Text link (short)</h3>
      </div>
    </a>
  </div>
</div>
