<aside id="lead-gen" class="lead-gen">
    <h2 class="lead-gen__heading" id="lead-gen__heading">Order your prospectus</h2>
    <div class="lead-gen__body" id="lead-gen__body">
        <p>Get an in-depth look at all the courses we offer and explore the benefits of undergraduate study.</p>
        <p><a id="lead-gen-prospectus__order-btn" class="lead-gen__yes-btn btn--red" href="#">Get your copy now</a></p>
        <p><a id="lead-gen-prospectus__no-thanks" class="lead-gen__no-btn" href="">No thanks, I'll keep reading.</a></p>  
    </div>
</aside>