.slab {
  padding: $spacing-4xl 0;

  &__title {
    margin-top: $spacing-md;
  }
}

.slab--bg-offwhite {
  background-color: $offwhite;
}

.slab--bg-slate {
  background-color: $slate;
  color: #fff;
}