.slab {
  $border-color: $grey--light;
  padding: $spacing-4xl 0;

  &__title {
    margin-top: $spacing-md;
  }

  &__header {
    margin-top: -#{$spacing-4xl};
  }

  //--

  &--border-bottom {
    border-bottom: 1px solid $border-color;
  }

  &--border-top {
    border-bottom: 1px solid $border-color;
  }

  //--

  &--bg-offwhite {
    background-color: $offwhite;
  }

  &--bg-slate {
    background-color: $slate;
    color: #fff;
  }

  &--bg-slate-light {
    background-color: $slate--light;
    color: #fff;
  }
}