<div class="slab  slab--bg-blue-ldn">
  <div class="wrap">
    <div class="hgroup">
      {% include '@title' with {
        text: 'Slab with blue background',
        tail: false,
        textElement: 'h2'
      } %}
      {% include '@title' with {
        text: 'This is a white title with tail',
        tail: true,
        background: 'white',
        textElement: 'h3',
        textElementStyle: 'h6'
      } %}
    </div>

    <p>{{ loremLong }}</p>

  </div>
</div>

<div class="margin-bottom-2xl"></div>

<div class="slab  slab--bg-blue-ldn  align-full">
  <div class="wrap">
    <div class="hgroup">
      {% include '@title' with {
        text: 'Fully aligned slab with blue background',
        tail: false,
        textElement: 'h2'
      } %}
      {% include '@title' with {
        text: 'This is a white title with tail',
        tail: true,
        background: 'white',
        textElement: 'h3',
        textElementStyle: 'h6'
      } %}
    </div>

    <p>{{ loremLong }}</p>

  </div>
</div>




