

<div class="slab slab--light">
    <div class="wrap">
        <div class="highlight">
            <h3>This is a highlighted title</h3>
        </div>
    </div>
</div>

<div class="wrap">
    <h3>This text is not in a slab</h3>
    <p>{{ loremLong }}</p>
</div>

<div class="slab slab--dark">
    <div class="wrap">
        <div class="highlight">
            <h3>This is a highlighted title</h3>
        </div>
        <p>{{ loremLong }}</p>

        <div class="highlight highlight--white">
            <h3>This is a white highlighted title</h3>
        </div>
    </div>
</div>




