

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
    
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" /></head>

<body>

<main style="padding: 2rem 0;">
    <div class="wrap">
        <div class="course-summary">
    <dl class="course-summary__list">
        <dt>UCAS code</dt>
            <dd>M100</dd>
        <dt>Location</dt>
            <dd>Stoke-on-Trent campus</dd>
        <dt>Study option</dt>
            <dd>Full-time, Stoke-on-Trent campus</dd>
        <dt>Duration</dt>
            <dd>3 Years</dd>
        <dt>Start date</dt>
            <dd>15 September 2021</dd>
        <dt>School</dt>
            <dd>
            <a href="https://www.staffs.ac.uk/about/schools/law-policing-and-forensics/">School of Law, Policing and Forensics</a>
        </dd>
    </dl>
</div>
    </div>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>
</body>
</html>
