

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
    
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" /></head>

<body>

<header class="header-site" id="header-site">
  <div class="wrap">
    <div class="header-site__flexContainer">
      <a class="site-logo" title="Home" href="/">
        <img src="../../img/logo.png" alt="Staffordshire University Logo" class="no-lazy-load">
      </a>

      <button class="toggle-megaNav" id="toggle-megaNav" aria-controls="megaNav"><span class="toggle-megaNav__label">Menu</span></button>
      <button class="toggle-search-site" id="toggle-search-site" aria-controls="search-site"><span class="toggle-search-site__label">Search</span></button>

      <nav class="megaNav" id="megaNav" role="navigation">
        <div class="megaNav__controls">
          <button class="megaNav__close" id="megaNav__close"><span class="visually-hidden">Close</span></button>
        </div>

        <div class="megaNav__topLevel">
          <ul class="megaNav__topLevel-list">
            <li class="megaNav__topLevel-item has-children">
              <a class="megaNav__topLevel-link  " href="">Courses</a>

              <div class="megaNav__level  megaNav__secondLevel">
                <div class="megaNav__levelHeader">
                  <button class="megaNav__closeLevel">Courses</button>
                </div>

                <ul class="megaNav__levelList  megaNav__secondLevel-list">
                  <li class="megaNav__secondLevel-item  has-children">
                    <a class="megaNav__secondLevel-link  " href="">Subject Areas</a>

                    <div class="megaNav__level  megaNav__thirdLevel">
                      <div class="megaNav__levelHeader">
                        <button class="megaNav__closeLevel">Subject Areas</button>
                      </div>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Accounting and Finance</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Allied Health and Paramedic Science</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Animation</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Art and Design</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Augmented and Virtual Realities</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Biological and Biomedical Sciences</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Business and Marketing</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Computer Science, AI and Robotics</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Drama, Performance and Theatre Studies</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Education</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">Engineering</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">...</a></li>
                      </ul>

                      <div class="megaNav__levelMobileFooter">
                        <button class="megaNav__closeLevel">Back</button>
                      </div>
                    </div>
                  </li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Undergraduate</a></li>
                  <li class="megaNav__secondLevel-item  has-children">
                    <a class="megaNav__secondLevel-link  " href="">Postgraduate</a>

                    <div class="megaNav__level  megaNav__thirdLevel">
                      <div class="megaNav__levelHeader">
                        <button class="megaNav__closeLevel">Postgraduate</button>
                      </div>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Accounting and Finance</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Allied Health and Paramedic Science</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Animation</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Art and Design</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Augmented and Virtual Realities</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Biological and Biomedical Sciences</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Business and Marketing</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Computer Science, AI and Robotics</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Drama, Performance and Theatre Studies</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Education</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Engineering</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG ...</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Accounting and Finance</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Allied Health and Paramedic Science</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Animation</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Art and Design</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Augmented and Virtual Realities</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Biological and Biomedical Sciences</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Business and Marketing</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Computer Science, AI and Robotics</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Drama, Performance and Theatre Studies</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Education</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG Engineering</a></li>
                        <li class="megaNav__thirdLevel-item"><a class="megaNav__thirdLevel-link" href="">PG ...</a></li>
                      </ul>

                      <div class="megaNav__levelMobileFooter">
                        <button class="megaNav__closeLevel">Back</button>
                      </div>
                    </div>
                  </li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Professional</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Distance Leaning</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Partnerships</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Apprenticeships</a></li>
                </ul>

                <div class="megaNav__levelFooter">
                  <p>Find a Course</p>
                  <form>
                    <input type="text" placeholder="Search on keyword / subject"/>
                    <input type="submit" class="button"/>
                  </form>
                </div>
              </div>
            </li>
            <li class="megaNav__topLevel-item  has-children">
              <a class="megaNav__topLevel-link  " href="">Student life</a>

              <div class="megaNav__level  megaNav__secondLevel">
                <div class="megaNav__levelHeader">
                  <button class="megaNav__closeLevel">Student Life</button>
                </div>

                <ul class="megaNav__levelList  megaNav__secondLevel-list">
                  <li class="megaNav__secondLevel-item  has-children">
                    <a class="megaNav__secondLevel-link  " href="">Accommodation</a>

                    <div class="megaNav__level  megaNav__thirdLevel">
                      <div class="megaNav__levelHeader">
                        <button class="megaNav__closeLevel">Accommodation</button>
                      </div>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Stoke-on-Trent</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Stafford</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Shrewsbury</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Private accommodation</a></li>
                      </ul>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">How to apply</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Guaranteed accommodation</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">International students</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Special requirements</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Frequently asked questions</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Campus and facilities</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Life in Staffordshire</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Getting involved</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Student support</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Life on campus</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Sport</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Chat to a Student</a></li>
                </ul>

                <div class="megaNav__levelFooter">
                  <p>What’s it like living here?</p>
                  <p><a href="" class="button">Book an open day</a></p>
                </div>
              </div>
            </li>
            <li class="megaNav__topLevel-item">
              <a class="megaNav__topLevel-link" href="">International</a>
            </li>
            <li class="megaNav__topLevel-item  has-children  has-simple-children">
              <a class="megaNav__topLevel-link " href="">Research</a>

              <div class="megaNav__level  megaNav__secondLevel">
                <div class="megaNav__levelHeader">
                  <button class="megaNav__closeLevel">Research</button>
                </div>

                <ul class="megaNav__levelList  megaNav__secondLevel-list">
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                </ul>

                <div class="megaNav__levelFooter">
                  <p>What’s it like living here?</p>
                  <p><a href="" class="button">Book an open day</a></p>
                </div>
              </div>
            </li>
            <li class="megaNav__topLevel-item  has-children">
              <a class="megaNav__topLevel-link " href="">Business</a>

              <div class="megaNav__level  megaNav__secondLevel">
                <div class="megaNav__levelHeader">
                  <button class="megaNav__closeLevel">Business</button>
                </div>

                <ul class="megaNav__levelList  megaNav__secondLevel-list">
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item  has-children">
                    <a class="megaNav__secondLevel-link  " href="">Test Item</a>

                    <div class="megaNav__level  megaNav__thirdLevel">
                      <div class="megaNav__levelHeader">
                        <button class="megaNav__closeLevel">Test Item</button>
                      </div>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>

                <div class="megaNav__levelFooter">
                  <p>What’s it like living here?</p>
                  <p><a href="" class="button">Book an open day</a></p>
                </div>
              </div>
            </li>
            <li class="megaNav__topLevel-item  has-children">
              <a class="megaNav__topLevel-link " href="">About us</a>

              <div class="megaNav__level  megaNav__secondLevel">
                <div class="megaNav__levelHeader">
                  <button class="megaNav__closeLevel">About us</button>
                </div>

                <ul class="megaNav__levelList  megaNav__secondLevel-list">
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item  has-children">
                    <a class="megaNav__secondLevel-link  " href="">Test Item</a>

                    <div class="megaNav__level  megaNav__thirdLevel">
                      <div class="megaNav__levelHeader">
                        <button class="megaNav__closeLevel">Test Item</button>
                      </div>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                      </ul>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                      </ul>

                      <div class="megaNav__levelMobileFooter">
                        <button class="megaNav__closeLevel">Back</button>
                      </div>
                    </div>
                  </li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item  has-children">
                    <a class="megaNav__secondLevel-link  " href="">Test Item</a>

                    <div class="megaNav__level  megaNav__thirdLevel">
                      <div class="megaNav__levelHeader">
                        <button class="megaNav__closeLevel">Test Item</button>
                      </div>

                      <ul class="megaNav__levelList  megaNav__thirdLevel-list">
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                        <li class="megaNav__thirdLevel-item"><a href="" class="megaNav__thirdLevel-link">Test Item</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                  <li class="megaNav__secondLevel-item"><a class="megaNav__secondLevel-link" href="">Test Item</a></li>
                </ul>

                <div class="megaNav__levelFooter">
                  <p>What’s it like living here?</p>
                  <p><a href="" class="button">Book an open day</a></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<div class="masthead">
  <div class="masthead__inner">
    <div class="masthead__bg">
      <img src="../../img/masthead8.jpg"/>
    </div>
    <div class="wrap">
      <nav class="breadcrumbs">
  <ul>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Level 1</a>
    </li>
    <li>
      <a href="#">Level 2</a>
    </li>
  </ul>
</nav>      
    

<div class="title  title--has-tail  js-waypoint">
  <div class="title__highlight  h1">
  Events
</div>
</div>








    </div>
  </div>
</div>

<main id="main-content" role="main" class="">

  <div class="slab">
    <div class="wrap">

      <header class="section-header  section-header--border-bottom">
        <div class="title  title--has-tail  js-waypoint">
          <h1 class="h2  title__highlight">Teach the nation to code: Stoke-on-Trent</h1>
        </div>
      </header>

      <div class="grid  grid--spaced">
        <div class="col-3/4@desktop">

          <div class="grid  grid--spaced">
            <div class="col-1/3@tablet">
              <div class="card  margin-bottom-2xl">
                <div class="card__content">
                  <ul class="list--icon-bullets">
                    <li><i class="icon  icon--calendar"></i><strong>Saturday 25 January 2020</strong></li>
                    <li><i class="icon  icon--clock"></i>10.30am - 4pm</strong></li>

                    <li><i class="icon  icon--pin"></i>Room T101<br/>
                      Beacon Building<br/>
                      Staffordshire University<br/>
                      College Road,<br/>
                      Stoke-on-Trent<br/>
                      ST4 2DE
                    </li>

                    <li><i class="icon  icon--pricetag"></i>FREE EVENT</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-2/3@tablet">
              <div class="margin-bottom-4xl">
                <p class="intro">Staffordshire University is going global with a programme packed full of free events to start the new decade.</p>
                <p>The spring calendar showcases the University’s worldwide impact, with the return of the popular ‘Profs in the Pav’ talks, commemorative events, plus a range of exciting lectures from academics and public figures.</p>

                <h2 class="h6">Who should attend?</h2>

                <p>2020 marks the International Year of the Nurse and Midwife, and Staffordshire University is joining colleagues across the globe to shine a spotlight on the sector. Celebrations kick off with a talk this week by Visiting
                  Professor Ann-Marie Cannaby, Chief Nurse at the Royal Wolverhampton Hospital, at the University’s Centre of Excellence in Healthcare Education, Stafford.Two hundred years may have passed since the birth of Florence
                  Nightingale, but patient care and safety remain the most important influencing factors within the fields of nursing and midwifery. Professor Cannaby will use her keynote presentation to explore curriculum developments.</p>

                <div class="box  box--bg-slate  margin-y-2xl">
                  <div class="box__content">
                    <p>Hands-on workshops delivered by expert coding trainers - bring your own laptop and charger</p>
                  </div>
                </div>

                <p>By the end of the session you will:</p>
                <ul>
                  <li>Have made a list</li>
                  <li>Have checked it twice</li>
                  <li>Have found out in an unparallelled level of detail and complexity who is naughty, and who is nice</li>
                  <li>Have decided who to give presents to</li>
                  <li>Have come to town</li>
                </ul>

                <p>On Monday 27 January a special event will mark Holocaust Memorial Day, with members of the Staffordshire University community sharing their experiences of visiting Srebrenica, where genocide occurred during the Bosnian
                  War in 1995. The same week, on Thursday 30 January, firearms expert Dr Rachel Bolton-King will deliver a lecture about her Churchill Fellowship travels to South Africa, USA and France.</p>

                <h2 class="h6">Other Highlights</h2>
                <p>Other highlights include a public lecture from broadcaster and wheelchair basketball player Ade Adepitan MBE, which will take place on Tuesday 25 February. From surviving polio as a child to winning a bronze medal at the
                  2004 Summer Paralympics in Athens and a gold medal at the 2005 Paralympic World Cup in Manchester, Ade will share the ambitious and inspirational story of how he became a global campaigner against racism and disability
                  discrimination.</p>

                <p>James Morgan, Head of Communications at Staffordshire University, said:</p>


                <div class="card  card--pullquote  card--maroon">
                  <div class="card__content">
                    <blockquote>
                      <q class="blockquote__highlight">This series of events celebrates the impact that our Connected University is making, not only within our local communities but also on a global level.</q>
                    </blockquote>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>

        <div class="col-1/4@desktop">
          <div class="grid  grid--spaced  grid-2-cols@mobile-wide">

            <div class="col-full@desktop">
              <p><a href="" class="button  button--block">Book Now</a></p>

              <div class="box  box--bg-offwhite  box--padded">
                <h3 class="h5 box__title">Media enquiries</h3>

                <ul class="list--icon-bullets">
                  <li><a href=""><i class="icon  icon--envelope"></i>comms@staffs.ac.uk</a></li>
                  <li><a href=""><i class="icon  icon--phone"></i>+44 7900 123456</a></li>
                  <li><a href=""><i class="icon  icon--twitter"></i>StaffsUniNews</a></li>
                  <li><a href=""><i class="icon  icon--twitter"></i>PressOffice</a></li>
                </ul>
              </div>
            </div>

            <div class="col-full@desktop">
              <div class="banner">
                <div class="banner__bg  banner__bg--blurred">
                  <img src="https://placeimg.com/400/400">
                </div>

                <div class="banner__body">
                  <div class="hgroup">
                    <div class="title">
                      <div class="h4  title__highlight">Undergraduate Open Day</div>
                    </div>
                  </div>

                  <div class="banner__cta">
                    <a href="" class="button">Book an open day</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="slab  slab--bg-offwhite">
    <div class="wrap">
      <header class="section-header  section-header--border-bottom">
        <div class="title  title--has-tail  js-waypoint">
          <h2 class="title__highlight">Upcoming Events</h2>
        </div>
      </header>

      <div class="grid  grid-3-cols@tablet-wide">
        <div>

          <div class="card  card--flex  card--event">
            <figure class="card__figure">
              <img src="https://placeimg.com/720/360" alt=""/>
            </figure>

            <div class="card__date">
              <span class="card__day">28</span>
              <span class="card__month">September</span>
            </div>

            <div class="card__content">
              <div class="title">
                <h2 class="h6  title__highlight"><a href="" class="">Enjoying the View? How computer games can help evaluate landscapes</a></h2>
              </div>
              <p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
            </div>
          </div>
        </div>

        <div>
          <div class="card  card--flex  card--event  card--pink">
            <figure class="card__figure">
              <img src="https://placeimg.com/720/360" alt=""/>
            </figure>

            <div class="card__date">
              <span class="card__day">23</span>
              <span class="card__month">September</span>
            </div>

            <div class="card__content">
              <div class="title">
                <h2 class="h6  title__highlight"><a href="" class="">Enjoying the View? How computer games can help evaluate landscapes</a></h2>
              </div>
              <p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
            </div>
          </div>
        </div>

        <div>
          <div class="card  card--flex  card--event  card--red">
            <div class="card__date">
              <span class="card__day">30</span>
              <span class="card__month">September</span>
            </div>

            <div class="card__content">
              <div class="title">
                <h2 class="h6  title__highlight"><a href="" class="">Enjoying the View? How computer games can help evaluate landscapes</a></h2>
              </div>
              <p>The founders of an immersive storytelling app have returned to their university stomping ground to film their latest episode.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="text-right">
        <a href="" class="button">View all events</a>
      </div>
    </div>
  </div>
</main>


<div class="slab  slab--bg-slate-light ">
  <div class="wrap">

    <div class="accolade-slider  js-slider--accolades">
              <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Rated Gold for Teaching Excellence</div>
            <div class="accolade-slider__item-description">
              <p>Teaching Excellence Framework</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-tef-gold.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Top 40 UK University</div>
            <div class="accolade-slider__item-description">
              <p> 37th out of 121 institutions University League Tables 2020</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-guardian.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">University of the Year Shortlist</div>
            <div class="accolade-slider__item-description">
              <p>Teaching Excellence Framework</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-times.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Top 1000 in the World Rankings</div>
            <div class="accolade-slider__item-description">
              <p> Times Higher Education Awards</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
            <div class="accolade-slider__item-description">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
            <div class="accolade-slider__item-description">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>
              <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Rated Gold for Teaching Excellence</div>
            <div class="accolade-slider__item-description">
              <p>Teaching Excellence Framework</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-tef-gold.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Top 40 UK University</div>
            <div class="accolade-slider__item-description">
              <p> 37th out of 121 institutions University League Tables 2020</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-guardian.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">University of the Year Shortlist</div>
            <div class="accolade-slider__item-description">
              <p>Teaching Excellence Framework</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-times.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Top 1000 in the World Rankings</div>
            <div class="accolade-slider__item-description">
              <p> Times Higher Education Awards</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
            <div class="accolade-slider__item-description">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
            <div class="accolade-slider__item-description">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>
          </div>

  </div>
</div><footer class="footer-site">
  <div class="wrap">
    <a class="footer-site__logo" title="Home" href="/">
      <img src="../../img/logo.png" alt="Staffordshire University Logo">
    </a>

    <div class="footer-site__main">

      <div class="grid  grid--spaced">
        <div class="col-3/5  col-reverse">
          <div class="grid  grid--spaced  grid-3-cols">
            <div>
              <h6>Study list</h6>
              <ul class="list--unstyled  list--links">
                <li><a href="">Undergraduate</a></li>
                <li><a href="">Postgraduate</a></li>
                <li><a href="">Part-time</a></li>
                <li><a href="">Professional</a></li>
                <li><a href="">Distance learning</a></li>
                <li><a href="">Two-year accelerated degrees</a></li>
                <li><a href="">Partnerships</a></li>
              </ul>
            </div>

            <div>
              <h6>Information for</h6>
              <ul class="list--unstyled  list--links">
                <li><a href="">Current students</a></li>
                <li><a href="">Current staff</a></li>
                <li><a href="">Schools and colleges</a></li>
                <li><a href="">Alumni</a></li>
              </ul>
            </div>
            <div>
              <h6>Also see</h6>
              <ul class="list--unstyled  list--links">
                <li><a href="">A-Z index</a></li>
                <li><a href="">News</a></li>
                <li><a href="">Events</a></li>
                <li><a href="">Job vacancies</a></li>
                <li><a href="">Legal</a></li>
                <li><a href="">Accessibility</a></li>
                <li><a href="">Modern slavery</a></li>
                <li><a href="">Transparency return</a></li>
              </ul>
            </div>
          </div>

          <h6>Connect with us</h6>
          <ul class="list--inline  footer-site__social-list">
            <li><a href=""><i class="icon"><img src="../../img/icon-facebook-white.svg" alt="Facebook"/></i></a></li>
            <li><a href=""><i class="icon"><img src="../../img/icon-twitter-white.svg" alt="Twitter"/></i></a></li>
            <li><a href=""><i class="icon"><img src="../../img/icon-youtube-white.svg" alt="YouTube"/></i></a></li>
            <li><a href=""><i class="icon"><img src="../../img/icon-pinterest-white.svg" alt="Pinterest"/></i></a></li>
            <li><a href=""><i class="icon"><img src="../../img/icon-linkedin-white.svg" alt="LinkedIn"/></i></a></li>
            <li><a href=""><i class="icon"><img src="../../img/icon-instagram-white.svg" alt="Instagram"/></i></a></li>
            <li><a href=""><i class="icon"><img src="../../img/icon-snapchat-white.svg" alt="Snapchat"/></i></a></li>
          </ul>
        </div>

        <div class="col-2/5">
          <h6><strong>Staffordshire University</strong></h6>

          <p>
            College Road<br/>
            University Quarter<br/>
            Stoke-on-Trent<br/>
            Staffordshire ST4 2DE<br/>
          </p>

          <p>+44 (0)1782 294000</p>
          <p><a href="">Contact us</a></p>
          <p>&copy; Staffordshire University 2020</p>

        </div>
      </div>
    </div>


  </div>
</footer>








<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../dev/js/app.js"></script>
</body>
</html>
