

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
  
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" /></head>

<body>

<main>
    <div class="masthead" style="background-image: url('../../img/masthead.jpg');">
    <!--
    <img src="../../img/masthead.jpg" alt="alt text" class="no-lazy-load">
    -->
    <div class="wrap">
        <nav class="breadcrumb">
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Level 1</a>
        </li>
        <li>
            <a href="#">Level 2</a>
        </li>
    </ul>
</nav>        <div class="highlight">
            <h1>Shortlisted for <br> "University of the year"</h1>
        </div>
        <div class="highlight ">
            <h3>This is a test</h3>
        </div>
        <div class="highlight highlight--white">
            <p>This is a test</p>
        </div>
        <a class="button" href="#">Book an open day</a>
    </div>
</div>

</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../js/app.min.js"></script>
</body>
</html>
