

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
    
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" /></head>

<body>

<main style="padding: 2rem 0;">
    <div class="wrap">
        <div class="masthead" style="background-image: url('../../img/masthead.jpg');">
    <div class="wrap">
        <nav class="breadcrumbs">
  <ul>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Level 1</a>
    </li>
    <li>
      <a href="#">Level 2</a>
    </li>
  </ul>
</nav>        
    

<div class="title  title--has-tail  js-waypoint">
  <h1 class="title__highlight  h2">
  Shortlisted for "University of the year"
</h1>
</div>








        
      

<div class="title  title--bg-white  title--has-tail  js-waypoint">
  <h6 class="title__highlight">
  - The Times and The Sunday Times Good University Guide 2020
</h6>
</div>








        

<a href="" class="button">
    Book an open day
</a>
    </div>
</div>

    </div>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../js/app.min.js"></script>
</body>
</html>
