

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
    
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" /></head>

<body>



<footer class="footer-site">
  <div class="wrap">
    <div class="grid  grid--spaced  grid-5-cols">
      <div>
        <a class="footer-site__logo" title="Home" href="/">
          <img src="../../img/logo.png" alt="Staffordshire University Logo">
        </a>
      </div>
    </div>

    <div class="grid  grid--spaced  grid-5-cols">
      <div>address</div>
      <div></div>
      <div>Study list</div>
      <div>Information for</div>
      <div>Also see</div>
    </div>

    <div class="grid  grid--spaced">
      <div>
        social icons
      </div>
    </div>
  </div>
</footer>








<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../js/app.min.js"></script>
</body>
</html>
