

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
    
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" /></head>

<body>

<main style="padding: 2rem 0;">
    <div class="wrap">
        <div class="slab  slab--bg-slate-light  align-full">
  <div class="wrap">

    <div class="accolade-slider  js-slider--accolades">
              <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Rated Gold for Teaching Excellence</div>
            <div class="accolade-slider__item-description">
              <p>Teaching Excellence Framework</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-tef-gold.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Top 40 UK University</div>
            <div class="accolade-slider__item-description">
              <p> 37th out of 121 institutions University League Tables 2020</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-guardian.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">University of the Year Shortlist</div>
            <div class="accolade-slider__item-description">
              <p>Teaching Excellence Framework</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-times.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Top 1000 in the World Rankings</div>
            <div class="accolade-slider__item-description">
              <p> Times Higher Education Awards</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
            <div class="accolade-slider__item-description">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
            <div class="accolade-slider__item-description">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>
              <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Rated Gold for Teaching Excellence</div>
            <div class="accolade-slider__item-description">
              <p>Teaching Excellence Framework</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-tef-gold.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Top 40 UK University</div>
            <div class="accolade-slider__item-description">
              <p> 37th out of 121 institutions University League Tables 2020</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-guardian.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">University of the Year Shortlist</div>
            <div class="accolade-slider__item-description">
              <p>Teaching Excellence Framework</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-times.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Top 1000 in the World Rankings</div>
            <div class="accolade-slider__item-description">
              <p> Times Higher Education Awards</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
            <div class="accolade-slider__item-description">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>

        <div>
          <div class="accolade-slider__item">
            <div class="h6  accolade-slider__item-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
            <div class="accolade-slider__item-description">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
            <figure class="accolade-slider__item-figure">
              <img class="accolade-slider__item-img" src="../../img/logo-wur.png">
            </figure>

          </div>
        </div>
          </div>

  </div>
</div>
    </div>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../js/app.min.js"></script>
</body>
</html>
