

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
    
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<link href="../../dev/styles/main.css" rel="stylesheet" />
<link media="print" href="../../dev/styles/print.css" rel="stylesheet" /></head>

<body>

<main style="padding: 2rem 0;">
    <div class="wrap">
        <ul class="list--inline">
  <li><span class="tag">tag</span></li>
  <li><span class="tag">long tag</span></li>
  <li><span class="tag">really long tag</span></li>
  <li><span class="tag">even looooonger tag</span></li>
</ul>

<ul class="list--inline">
  <li><a href="#" class="tag">link</a></li>
  <li><a href="#" class="tag">long link</a></li>
  <li><a href="#" class="tag">really long tag</a></li>
  <li><a href="#" class="tag">even looooonger tag</a></li>
</ul>

<span class="tag">solitary tag</span>

<a href="#" class="tag">solitary linked tag</a>


    </div>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../js/app.min.js"></script>
</body>
</html>
