

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
    
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" /></head>

<body>

<a class="skip-link screen-reader-text" href="#main-content">Skip to content</a>


<header class="header-site" id="header-site">
    <div class="nav-primary-container">
        <div class="wrap">
            <a class="site-logo" title="Home" href="/">
                <img src="../../img/logo.png" alt="Staffordshire University Logo" class="no-lazy-load">
            </a>
            <button class="nav-primary-toggle  button is-style-small is-style-outline-white" id="nav-primary-toggle" aria-controls="nav-primary">Menu</button>
            <nav class="nav-primary" id="nav-primary" role="navigation">
                <ul>
                    <li class=""> <a class="" href="#">Courses</a></li>
                    <li class=""> <a class="" href="#">Student life</a></li>
                    <li class=""> <a class="" href="#">International</a></li>
                    <li class=""> <a class="" href="#">Research</a></li>
                    <li class=""> <a class="" href="#">Business</a></li>
                    <li class=""> <a class="" href="#">About us</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="masthead" style="background-image: url('../../img/masthead.jpg');">
    <!--
    <img src="../../img/masthead.jpg" alt="alt text" class="no-lazy-load">
    -->
    <div class="wrap">
        <nav class="breadcrumb">
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Level 1</a>
        </li>
        <li>
            <a href="#">Level 2</a>
        </li>
    </ul>
</nav>        <div class="highlight">
            <h1>Shortlisted for <br> "University of the year"</h1>
        </div>
        <div class="highlight ">
            <h3>This is a test</h3>
        </div>
        <div class="highlight highlight--white">
            <p>This is a test</p>
        </div>
        <a class="button" href="#">Book an open day</a>
    </div>
</div>

<main id="main-content" role="main" class="">

    <div class="wrap">

        <h1>This is an h1</h1>
        <p class="intro">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h2>This is an h2</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h3>This is an h3</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h4>This is an h4</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h5>This is an h5</h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h6>This is an h6</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    </div>

</main>

<footer class="footer-site">
  <div class="wrap">
    <nav class="footer-site__nav-primary">
      <ul>
        <li><a href="">Blog</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Media centre</a></li>
        <li><a href="">Contact us</a></li>
      </ul>
    </nav>

    <div class="grid  grid--spaced  grid-2-cols">
      <div class="footer-site__contact">
        <h5 class="strong">Keep in Touch</h5>

        <a class="link-icon" href="https://www.facebook.com/vso.international/">
          <i class="icon icon-facebook-pink-circle"></i>
          <span class="visually-hidden">VSO Facebook page</span>
        </a>
        <a class="link-icon" href="https://twitter.com/vso_intl/">
          <i class="icon icon-twitter-pink-circle"></i>
          <span class="visually-hidden">VSO Twitter page</span>
        </a>
        <a class="link-icon" href="https://www.youtube.com/user/vsointernational/">
          <i class="icon icon-youtube-pink-circle"></i>
          <span class="visually-hidden">VSO Youtube page</span>
        </a>
        <a class="link-icon" href="https://www.linkedin.com/company/vso/">
          <i class="icon icon-linkedin-pink-circle"></i>
          <span class="visually-hidden">VSO Linkedin page</span>
        </a>

        <div>
          <span class="footer-site__tel">+44 (0)20 8780 7500</span>
          <a href="mailto:enquiry@vsoint.org" class="footer-site__email">enquiry@vsoint.org</a>
        </div>
      </div>

      <div class="footer-site__newsletter">
        <h5 class="strong">Stay Updated</h5>
        <a href="/e-newsletter-sign-up" class="button button--offwhite">Sign up to our newsletter</a>
      </div>
    </div>

    <figure class="footer-site__logo">
      <img src="../../img/logo-vso.svg" alt=""/>
    </figure>

    <p class="footer-site__legal">Voluntary Service Overseas is a company limited by guarantee</p>
    <p class="footer-site__legal">Registered in England and Wales registered number 703509</p>
    <p class="footer-site__legal">Registered Office 100 London Road, Kingston upon Thames KT2 6QJ</p>
    <p class="footer-site__legal">Charity Registration 313757 (England and Wales) SCO39117 (Scotland). Copyright © 2010 - 2020 VSO unless otherwise stated.</p>

    <nav class="footer-site__legal-links">
      <ul class="">
        <li><a href="#">Data protection and privacy</a></li>
        <li><a href="#">Cookies</a></li>
        <li><a href="#">Modern Slavery Statement</a></li>
      </ul>
    </nav>
  </div>
</footer>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../js/app.min.js"></script>
</body>
</html>
