

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
    
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" /></head>

<body>

<main>
    <div class="wrap">
        
<div class="slab slab--dark">



    
<div class="title">
    <h1 class="title__highlight  title__highlight--tail">
        This is an H1 with a tail
    </h1>
</div>










<div class="title">
    <h3 class="title__highlight">
        This is an H3
    </h3>
</div>









    
<div class="title">
    <p class="title__highlight  title__highlight--white">
        This is a paragraph on white with a tail
    </p>
</div>










    
<div class="title">
    <h2 class="title__highlight  title__highlight--pink">
        This is an H1 on pink
    </h2>
</div>









    
<div class="title">
    <h4 class="title__highlight  title__highlight--slate">
        This is an H4 on slate
    </h4>
</div>









    
<div class="title">
    <p class="title__highlight  title__highlight--maroon title__highlight--tail">
        This is a paragraph on maroon with a tail
    </p>
</div>










</div>




    </div>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../js/app.min.js"></script>
</body>
</html>
