

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
    
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" /></head>

<body>

<header class="header-site" id="header-site">
    <div class="nav-primary-container">
        <div class="wrap">
            <a class="site-logo" title="Home" href="/">
                <img src="../../img/logo.png" alt="Staffordshire University Logo" class="no-lazy-load">
            </a>
            <button class="nav-primary-toggle  button is-style-small is-style-outline-white" id="nav-primary-toggle" aria-controls="nav-primary">Menu</button>
            <nav class="nav-primary" id="nav-primary" role="navigation">
                <ul>
                    <li class=""> <a class="" href="#">Courses</a></li>
                    <li class=""> <a class="" href="#">Student life</a></li>
                    <li class=""> <a class="" href="#">International</a></li>
                    <li class=""> <a class="" href="#">Research</a></li>
                    <li class=""> <a class="" href="#">Business</a></li>
                    <li class=""> <a class="" href="#">About us</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../js/app.min.js"></script>
</body>
</html>
