

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
    
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" /></head>

<body>

<main>
    <div class="wrap">
        
<h1 class="title">Typography</h1>

<h2>Typeface</h2>
<p>One typeface is used for the web, there is no secondary typeface:</p>
<ul>
    <li><span class="font-primary">Roboto - Primary typeface</span>: is the default for body copy and headings</li>

</ul>



<h2>Typescale</h2>

<p>The following sizes are defined in <code>__vars/_typography.scss</code> to set a typescale.</p>
<p>This will <strong>only</strong> change the <strong>font-size</strong></p>

<ul class="list-unbulleted">
    <li class="font-6xl">6xl: The biggest font-size <span class="font-caption">4 (rem)</span></li>
    <li class="font-5xl">5xl: The second biggest size <span class="font-caption">3 (rem)</span></li>
    <li class="font-4xl">4xl: The quick brown fox jumps over the lazy dog <span class="font-caption">2.5 (rem)</span></li>
    <li class="font-3xl">3xl: The quick brown fox jumps over the lazy dog <span class="font-caption">2 (rem)</span></li>
    <li class="font-2xl">2xl: The quick brown fox jumps over the lazy dog <span class="font-caption">1.5 (rem)</span></li>
    <li class="font-xl">xl: The quick brown fox jumps over the lazy dog <span class="font-caption">1.25 (rem)</span></li>
    <li class="font-lg">lg: The quick brown fox jumps over the lazy dog <span class="font-caption">1.125 (rem)</span></li>
    <li class="font-md">md: The quick brown fox jumps over the lazy dog <span class="font-caption">1 (rem)</span></li>
    <li class="font-sm">sm: The quick brown fox jumps over the lazy dog <span class="font-caption">0.875 (rem)</span></li>
    <li class="font-xs">xs: The quick brown fox jumps over the lazy dog <span class="font-caption">0.75 (rem)</span></li>
    <li class="font-2xs">2xs: The quick brown fox jumps over the lazy dog <span class="font-caption">0.6875 (rem)</span></li>
</ul>

<p>They can be used using a class of <code>font-<em>[sizename]</em></code>, eg. <code>font-2xl</code><br/>
    or in Sass using <code>@include typescale('<em>[sizename]</em>');</code>, eg. <code>@include typescale('xs');</code></p>


<hr/>

<h2>Heading Levels</h2>

<p>Use semantic heading level elements (<code>&lt;h1&gt;</code>-<code>&lt;h6&gt;</code>) for content, do <strong>not</strong> use these elements for their visual appearance.</p>
<p>They can be sized by applying a class above, eg. <code>&lt;h2 class="font-xl"&gt;</code>.</p>
<p>To make a non-heading element appear in a heading style (including font-family), a class of <code>h1</code>-<code>h6</code> can be applied. eg. <code>&lt;div class="h3"&gt;</code></p>
<p>Headings are assigned one of the Typescale sizes in <code>__vars/_typography.scss</code>.</p>

<div class="h1">h1 Default: 5xl</div>
<div class="h2">h2 Default: 4xl</div>
<div class="h3">h3 Default: 3xl</div>
<div class="h4">h4 Default: 2xl</div>
<div class="h5">h5 Default: xl</div>
<div class="h6">h6 Default: lg</div>

<h1>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h1>
<h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h2>
<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h3>
<h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
<h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h5>
<h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h6>

<hr/>

<p class="intro">At VSO, we believe progress is only possible when we work together. Partnerships lie at the root of all the positive change we create.</p>
<p>Over the last 60 years VSO has worked in over 90 countries with more than 80,000 volunteers, and supported 50,000,000 people.</p>

<h2>Fighting poverty through volunteering</h2>
<p><strong>At VSO, we believe progress is only possible when we work together. Partnerships lie at the root of all the positive change we create. This is an emboldened paragraph.</strong></p>
<p>Hundreds of VSO volunteers and supporters contact their representatives about international development issues. For example, in the build-up to Parliamentary debates on the 0.7% foreign aid expenditure target. They also strengthened VSO’s Women in Power campaign, fighting for women's empowerment.</p>
<p>This <a href="">link goes somewhere</a>, but this sentence doesn't, it only exists to show how a link works. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<p><strong>£2600</strong> is an amount of money that I've wrapped some <code>&lt;strong&gt;</code> tags around, while <strong>4 weeks</strong> – a length of time – also has had the same treatment for the purposes of just <em>testing</em> how typography appears on the page. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<p><a class="button" href="">Find out how links are made into buttons</a></p>

<h2>Header Level 2</h2>
<p>If you live in the UK, VSO can help you contact and meet your political representatives. You can help increase political will to tackle poverty by sharing your experiences and concerns with them.</p>
<p>Hundreds of VSO volunteers and supporters contact their representatives about international development issues. For example, in the build-up to Parliamentary debates on the 0.7% foreign aid expenditure target. They also strengthened VSO’s Women in Power campaign, fighting for women's empowerment.</p>

<h3>Header Level 3</h3>
<p><strong>You’ll be running for an amazing cause: for a world without poverty. This is an emboldened paragraph.</strong></p>
<p>Our volunteers work in 24 countries to help people live healthy, dignified lives. Some of our volunteers include teachers, doctors, business experts, nurses... the list goes on.</p>
<p>These <a href="">volunteers share skills</a> where it's needed the most, in the world's poorest and most marginalised communities.</p>
<p><strong>£2600</strong> could cover the cost of a volunteer for over <strong>4 weeks</strong> – in that time a single volunteer could conduct a training session for teachers to showcase new teaching methods, hold meetings with head teachers from across a remote region to discuss existing challenges and possible solutions, <strong>and so much more</strong>.</p>

<h4>Header Level 4</h4>
<p><strong>You’ll be running for an amazing cause: for a world without poverty. This is an emboldened paragraph.</strong></p>
<p>Our volunteers work in 24 countries to help people live healthy, dignified lives. Some of our volunteers include teachers, doctors, business experts, nurses... the list goes on.</p>
<p>These <a href="">volunteers share skills</a> where it's needed the most, in the world's poorest and most marginalised communities.</p>
<p><strong>£2600</strong> could cover the cost of a volunteer for over <strong>4 weeks</strong> – in that time a single volunteer could conduct a training session for teachers to showcase new teaching methods, hold meetings with head teachers from across a remote region to discuss existing challenges and possible solutions, <strong>and so much more</strong>.</p>

<h5>Header Level 5</h5>
<p><strong>You’ll be running for an amazing cause: for a world without poverty. This is an emboldened paragraph.</strong></p>
<p>Our volunteers work in 24 countries to help people live healthy, dignified lives. Some of our volunteers include teachers, doctors, business experts, nurses... the list goes on.</p>
<p>These <a href="">volunteers share skills</a> where it's needed the most, in the world's poorest and most marginalised communities.</p>
<p><strong>£2600</strong> could cover the cost of a volunteer for over <strong>4 weeks</strong> – in that time a single volunteer could conduct a training session for teachers to showcase new teaching methods, hold meetings with head teachers from across a remote region to discuss existing challenges and possible solutions, <strong>and so much more</strong>.</p>

<h6>Header Level 6</h6>
<p><strong>You’ll be running for an amazing cause: for a world without poverty. This is an emboldened paragraph.</strong></p>
<p>Our volunteers work in 24 countries to help people live healthy, dignified lives. Some of our volunteers include teachers, doctors, business experts, nurses... the list goes on.</p>
<p>These <a href="">volunteers share skills</a> where it's needed the most, in the world's poorest and most marginalised communities.</p>
<p><strong>£2600</strong> could cover the cost of a volunteer for over <strong>4 weeks</strong> – in that time a single volunteer could conduct a training session for teachers to showcase new teaching methods, hold meetings with head teachers from across a remote region to discuss existing challenges and possible solutions, <strong>and so much more</strong>.</p>



    </div>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../js/app.min.js"></script>
</body>
</html>
