

<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
  
<script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="cleartype" content="on" />

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet" />
<link media="print" href="../../styles/print.css" rel="stylesheet" /></head>

<body>

<main>
  <div class="wrap">
    
<h1 class="title">Typography</h1>

<h2>Typeface</h2>
<p>Two typefaces are used for the web</p>
<ul>
    <li><span class="font-primary">Arial - Primary typeface</span>: is the default for body copy</li>
    <li><span class="font-secondary">Museo Sans - Secondary typeface</span>: for headings and other 'decorative' copy.</li>
</ul>

<p>They can be used using a class of <code>font-primary</code> or <code>font-secondary</code><br/>
    or in Sass using <code>@include font-primary;</code> or <code>@include font-secondary;</code></p>

<h2>Typescale</h2>

<p>The following sizes are defined in <code>__vars/_typography.scss</code> to set a typescale.</p>
<p>This will <strong>only</strong> change the <strong>font-size</strong></p>

<ul class="list-unbulleted">
    <li class="font-6xl">6xl: The biggest font-size <span class="font-caption">4 (rem)</span></li>
    <li class="font-5xl">5xl: The second biggest size <span class="font-caption">3 (rem)</span></li>
    <li class="font-4xl">4xl: The quick brown fox jumps over the lazy dog <span class="font-caption">2.5 (rem)</span></li>
    <li class="font-3xl">3xl: The quick brown fox jumps over the lazy dog <span class="font-caption">2 (rem)</span></li>
    <li class="font-2xl">2xl: The quick brown fox jumps over the lazy dog <span class="font-caption">1.5 (rem)</span></li>
    <li class="font-xl">xl: The quick brown fox jumps over the lazy dog <span class="font-caption">1.25 (rem)</span></li>
    <li class="font-lg">lg: The quick brown fox jumps over the lazy dog <span class="font-caption">1.125 (rem)</span></li>
    <li class="font-md">md: The quick brown fox jumps over the lazy dog <span class="font-caption">1 (rem)</span></li>
    <li class="font-sm">sm: The quick brown fox jumps over the lazy dog <span class="font-caption">0.875 (rem)</span></li>
    <li class="font-xs">xs: The quick brown fox jumps over the lazy dog <span class="font-caption">0.75 (rem)</span></li>
    <li class="font-2xs">2xs: The quick brown fox jumps over the lazy dog <span class="font-caption">0.6875 (rem)</span></li>
</ul>

<p>They can be used using a class of <code>font-<em>[sizename]</em></code>, eg. <code>font-2xl</code><br/>
    or in Sass using <code>@include typescale('<em>[sizename]</em>');</code>, eg. <code>@include typescale('xs');</code></p>


<hr/>

<h2>Heading Levels</h2>

<p>Use semantic heading level elements (<code>&lt;h1&gt;</code>-<code>&lt;h6&gt;</code>) for content, do <strong>not</strong> use these elements for their visual appearance.</p>
<p>They can be sized by applying a class above, eg. <code>&lt;h2 class="font-xl"&gt;</code>.</p>
<p>To make a non-heading element appear in a heading style (including font-family), a class of <code>h1</code>-<code>h6</code> can be applied. eg. <code>&lt;div class="h3"&gt;</code></p>
<p>Headings are assigned one of the Typescale sizes in <code>__vars/_typography.scss</code>.</p>

<div class="h1">h1 Default: 5xl</div>
<div class="h2">h2 Default: 4xl</div>
<div class="h3">h3 Default: 3xl</div>
<div class="h4">h4 Default: 2xl</div>
<div class="h5">h5 Default: xl</div>
<div class="h6">h6 Default: lg</div>

<h1>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h1>
<h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h2>
<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h3>
<h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
<h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h5>
<h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h6>

<hr/>

<p class="intro">The London Marathon needs no introduction. It's the most exciting day of London's sporting calendar and for anyone who runs it, it is a day they'll never forget. It's the biggest annual single-day fundraising event in the world and you can be part of it with Team VSO.</p>
<p>If you live in the UK, VSO can help you contact and meet your political representatives. You can help increase political will to tackle poverty by sharing your experiences and concerns with them.</p>

<h2>How are they making an impact?</h2>
<p><strong>You’ll be running for an amazing cause: for a world without poverty. This is an emboldened paragraph.</strong></p>
<p>Our volunteers work in 24 countries to help people live healthy, dignified lives. Some of our volunteers include teachers, doctors, business experts, nurses... the list goes on.</p>
<p>These <a href="">volunteers share skills</a> where it's needed the most, in the world's poorest and most marginalised communities.</p>
<p><strong>£2600</strong> could cover the cost of a volunteer for over <strong>4 weeks</strong> – in that time a single volunteer could conduct a training session for teachers to showcase new teaching methods, hold meetings with head teachers from across a remote region to discuss existing challenges and possible solutions, <strong>and so much more</strong>.</p>
<p><a class="link-pointy" href="">Find out how links are made pointy now</a></p>
<p><a class="link-cta" href="">Find out how calls to action are made now</a></p>

<h2>Header Level 2</h2>
<p>If you live in the UK, VSO can help you contact and meet your political representatives. You can help increase political will to tackle poverty by sharing your experiences and concerns with them.</p>
<p>Hundreds of VSO volunteers and supporters contact their representatives about international development issues. For example, in the build-up to Parliamentary debates on the 0.7% foreign aid expenditure target. They also strengthened VSO’s Women in Power campaign, fighting for women's empowerment.</p>

<h3>Header Level 3</h3>
<p><strong>You’ll be running for an amazing cause: for a world without poverty. This is an emboldened paragraph.</strong></p>
<p>Our volunteers work in 24 countries to help people live healthy, dignified lives. Some of our volunteers include teachers, doctors, business experts, nurses... the list goes on.</p>
<p>These <a href="">volunteers share skills</a> where it's needed the most, in the world's poorest and most marginalised communities.</p>
<p><strong>£2600</strong> could cover the cost of a volunteer for over <strong>4 weeks</strong> – in that time a single volunteer could conduct a training session for teachers to showcase new teaching methods, hold meetings with head teachers from across a remote region to discuss existing challenges and possible solutions, <strong>and so much more</strong>.</p>

<h4>Header Level 4</h4>
<p><strong>You’ll be running for an amazing cause: for a world without poverty. This is an emboldened paragraph.</strong></p>
<p>Our volunteers work in 24 countries to help people live healthy, dignified lives. Some of our volunteers include teachers, doctors, business experts, nurses... the list goes on.</p>
<p>These <a href="">volunteers share skills</a> where it's needed the most, in the world's poorest and most marginalised communities.</p>
<p><strong>£2600</strong> could cover the cost of a volunteer for over <strong>4 weeks</strong> – in that time a single volunteer could conduct a training session for teachers to showcase new teaching methods, hold meetings with head teachers from across a remote region to discuss existing challenges and possible solutions, <strong>and so much more</strong>.</p>

<h5>Header Level 5</h5>
<p><strong>You’ll be running for an amazing cause: for a world without poverty. This is an emboldened paragraph.</strong></p>
<p>Our volunteers work in 24 countries to help people live healthy, dignified lives. Some of our volunteers include teachers, doctors, business experts, nurses... the list goes on.</p>
<p>These <a href="">volunteers share skills</a> where it's needed the most, in the world's poorest and most marginalised communities.</p>
<p><strong>£2600</strong> could cover the cost of a volunteer for over <strong>4 weeks</strong> – in that time a single volunteer could conduct a training session for teachers to showcase new teaching methods, hold meetings with head teachers from across a remote region to discuss existing challenges and possible solutions, <strong>and so much more</strong>.</p>

<h6>Header Level 6</h6>
<p><strong>You’ll be running for an amazing cause: for a world without poverty. This is an emboldened paragraph.</strong></p>
<p>Our volunteers work in 24 countries to help people live healthy, dignified lives. Some of our volunteers include teachers, doctors, business experts, nurses... the list goes on.</p>
<p>These <a href="">volunteers share skills</a> where it's needed the most, in the world's poorest and most marginalised communities.</p>
<p><strong>£2600</strong> could cover the cost of a volunteer for over <strong>4 weeks</strong> – in that time a single volunteer could conduct a training session for teachers to showcase new teaching methods, hold meetings with head teachers from across a remote region to discuss existing challenges and possible solutions, <strong>and so much more</strong>.</p>



  </div>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../js/app.min.js"></script>
</body>
</html>
