label {
}

input[type='checkbox'],
input[type='radio'] {
  position: relative;
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  margin-right: 0.2em;

  + label {
    display: inline-block;
    margin-left: -1.2em;
    padding-left: 1.2em;
    box-sizing: border-box;
    max-width: calc(100% - 1.2em);
    vertical-align: top;
    cursor: pointer;
  }
}

input[type=text],
input[type=password],
input[type=number],
input[type=email],
input[type=tel],
input[type=search],
input[type=date],
textarea,
select {
  max-width: 100%;
  padding: calc(0.75em - 1px) 0.75em;
  background: #fff;
  border: 1px solid rgba(50, 50, 50, 0.25);
  box-sizing: border-box;
  border-radius: 0.25rem;

  &:focus {
    outline: none;
    border-color: rgba($primary, 0.7);
  }
}

.form__item {
  margin: 0 0 $spacing-sm;
}