@import "../__vars/layout";

body {
  border-left: $body-border-width solid $primary;

  @media (min-width: $body-border-breakpoint) {
    border-left: $body-border-width--wide solid $primary;
  }

  &:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $body-border-width;
    background: $primary;
    z-index: 0;

    @media (min-width: $body-border-breakpoint) {
      width: $body-border-width--wide;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    //transition: all 200ms;
  }

  @at-root .has-expanded-nav {
    &:before {
      background: rgba(black, 0.5);
      z-index: 1;
    }
  }

  @at-root .has-expanded-smallscreen-nav {
    overflow: hidden;

    @media (min-width: $megaNav-full-breakpoint) {
      overflow: auto;
    }
  }
}

main {
  position: relative;
  z-index: 0;
  clear: both;
  //overflow-x: hidden; // this can be set to stop page horizontal scrollbar when using align-wide with 100vw, see https://caniuse.com/#feat=viewport-units (known issues) - however, it stops overflow of the 'tails' on titles
}

section {
  margin: $spacing-4xl 0;

  &:first-child {
    margin-top: 0;
  }
}

.wrap {
  @include wrap;
}

.align-left {
  @include align-left;
}

.align-right {
  @include align-right;
}

.align-center,
.align-centre {
  margin-left: auto !important;
  margin-right: auto !important;
}

.align-full,
.alignfull {
  @include align-full;
}

.wrap-wysiwyg {
  @include clearfix;
}

.size-line-length-max {
  max-width: $line-length-max-rem;
  box-sizing: border-box;
}

@media (min-width: $align-min-breakpoint) {
  .align-size-xs {
    max-width: $align-size-xs;
  }

  .align-size-sm {
    max-width: $align-size-sm;
  }

  .align-size-md {
    max-width: $align-size-md;
  }

  .align-size-lg {
    max-width: $align-size-lg;
  }

  .size-auto {
    width: auto;
    max-width: none;
  }
}