@import "../__vars/layout";

main {
  position: relative;
  z-index: 0;
  clear: both;
  overflow-x: hidden; // this is set to stop page horizontal scrollbar when using align-wide with 100vw, see https://caniuse.com/#feat=viewport-units (known issues)
}

section {
  margin: $spacing-4xl 0;

  &:first-child {
    margin-top: 0;
  }
}

.wrap {
  @include wrap;
}

.align-left {
  @include align-left;
}

.align-right {
  @include align-right;
}

.align-center,
.align-centre {
  margin-left: auto !important;
  margin-right: auto !important;
}

.align-full,
.alignfull {
  @include align-full;
}

.wrap-wysiwyg {
  @include clearfix;
}

.size-line-length-max {
  max-width: $line-length-max-rem;
  box-sizing: border-box;
}
