.footer-site {
  background: #fff;
  clear: both;
  position: relative;
  padding: $spacing-4xl 0 $spacing-xl;
  text-align: center;

  &__logo {
    display: inline-block;
    margin: $spacing-lg auto $spacing-sm;
    padding: $spacing-md;

    img {
      display: block;
      margin: auto;
      width: 7.5em;
      max-width: 25vmin;
    }
  }

  &__legal {
    margin: 0 0 $spacing-2xs;
    @include typescale('xs');
    @include line-height('compact');
  }
}