$toggle-icon-active-opacity: 0.75;

.header-site {
  position: relative;
  z-index: 2;
  padding: $spacing-sm 0;
  margin: 0 0 $layout-md;
  background: #fff;

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    @media (min-width: $site-header-nav-visible) {
      display: block;
    }
  }

  .site-logo {
    display: inline-block;
    margin: auto;
    width: 25vmin;
    max-width: 7.5em;
    padding: $spacing-md;

    img {
      display: block;
      margin: auto;
      max-height: 10vh;
    }
  }

  .site-search {
    @at-root .js & {
      display: none;
      //position: absolute;
      //top: 0;
      //left: 0;
      //right: 0;
      //background: #fff;
      //padding: 10vh 0;
      //box-shadow: 0 1em 1em -0.5em rgba(black, 0.15);
      //z-index: 1000; // above superfish
      text-align: center;
      margin: 0 0 $layout-sm;

      &.is-expanded {
        display: block;
      }

      form {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        max-width: 30rem;
      }

      .form-item,
      .form-actions {
        display: inline-block;
        margin: 0 0 $spacing-2xs 0;
      }

      .form-item-keys {
        flex: 1 1 50%;
      }

      input[type=search] {
        width: 100%;
        margin: 0 $spacing-3xs 0 0;
      }

      .form-submit {
        margin: 0;
        padding: calc(0.75em + 1px) 2em; // compensates for input border to match height
        background-image: linear-gradient(to left, black 50%, $grey-dark 50%);
      }
    }
  }

  .toggle-nav-primary,
  .toggle-site-search {
    margin: $layout-2xs;
    padding: 0;
    border: 0;
    font-size: 1.5em;
    background: none;
    cursor: pointer;

    &.is-active {
      opacity: $toggle-icon-active-opacity;
    }
  }

  .toggle-nav-primary {
    @media (min-width: $site-header-nav-visible) {
      display: none;
    }

    @at-root .no-js & {
      display: none;
    }
  }

  .toggle-site-search {
    @media (min-width: $site-header-nav-visible) {
      display: none;
    }

    @at-root .no-js & {
      display: none;
    }
  }
}

.header-site--stripped {
  .site-logo {
    padding: $spacing-2xs 0 $spacing-4xs;

    img {
      max-height: 3em;
    }
  }
}


.nav-primary {
  background: #fff;
  margin: 0 0 $spacing-md;
  @include clearfix; // for Superfish, because it floats EVERYTHING

  $border-color: $offwhite;
  $border-color--active: $primary;

  width: 100%;
  box-sizing: border-box;

  @at-root .js & {
    .fractal-demo-nav {
      display: none;

      @media (min-width: $site-header-nav-visible) {
        display: flex;
      }

      &.is-expanded {
        display: block;
      }
    }
  }

  a {
    flex: 1 1 auto;
    color: black;
    border-color: $border-color;

    &:hover {
      color: $primary;
    }
  }

  ul {
    background: #fff;

    &.sf-menu {
      @include line-height('normal'); // overrides SF styles
    }
  }

  li {
    float: none !important; // no idea why SF is adding these, nuke them.
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-wrap: wrap;

    ul {
      font-size: 0.95em;
      width: 100%;
      padding-left: $spacing-sm;
      order: 3;

      li:last-child {
        border-bottom: 0;
      }
    }
  }

  .sf-accordion-button {
    position: relative;
    flex: 0 0 5em;
    padding: 0 0 $spacing-md;
    overflow: hidden;
    justify-self: flex-end;
    align-self: stretch;
    order: 2;
    margin-right: $spacing-sm;
    text-indent: -9999em;
    background: url('../img/icon-plus-pink.svg') no-repeat right center;
    background-size: 1.5em 90%;
    box-sizing: border-box;
    transition: transform 200ms;
    transform-origin: 85% 50%;
  }

  .sf-expanded > .sf-accordion-button {
    transform: rotate(45deg);
  }

  ul.sf-menu.sf-accordion ul {
    // specificity to override module
    padding-left: $spacing-md;
  }

  ul.sf-menu.sf-accordion.sf-accordion-with-buttons .sf-accordion-button:after {
    // specificity to override module
    content: '';
    display: none;
  }

  ul.sf-menu a, ul.sf-menu span.nolink {
    // specificity to override module
    padding: $spacing-md $spacing-sm;
  }

  .sf-main {
    > li {
      &:last-child {
        display: none; // hides search 'toggle item' at mobile
      }
    }
  }

  .sf-menu .active-trail {
    a.sf-depth-1 {
      border-left: 0.25rem solid $base;
      margin-left: -0.25rem;

      @media (min-width: $site-header-nav-visible) {
        border-left: 0;
        border-bottom: 0.35rem solid $base;
        margin-left: 0;
      }
    }

    a.is-active {
       color: $base;
    }
  }

  @media (min-width: $site-header-nav-visible) {
    font-size: 1.1em;
    text-align: center;

    .sf-main {
      margin: 0 auto;
      display: flex;
      justify-content: center;

      ul {
        padding: 0;
        font-size: 0.85em;
        box-shadow: 0 1em 1em -0.5em rgba(black, 0.15);
      }

      li li {
        text-align: left;
      }

      > li {
        border-bottom: 0.2em solid transparent;
        border-right: 1px solid $border-color;

        &:last-child {
          display: inline-block;
          border-right: 0;

          a {
            text-indent: -9999em;
            width: 1em;
            background: url('../img/icon-search-pink.svg') no-repeat center center;
            background-size: 1em;

            &.is-active {
              opacity: $toggle-icon-active-opacity;
            }
          }
        }

        > ul,
        > ul.menu {
          padding-top: 1em;
        }
      }
    }

    a {
      display: block;
      padding: $spacing-md 1.2em;
    }

    ul.sf-menu a, ul.sf-menu span.nolink {
      // specificity to override module
      padding: $spacing-md 1.2em;
    }
  }

  @media (min-width: $site-header-nav-visible-rem + 30rem) {
    font-size: 1.2em;
  }
}

#superfish-main-toggle {
  display: none !important; // brute forcibly remove this entirely, we're using our own toggle because design: #nav-primary-toggle
}

.header-banner {
  $header-banner-over-breakpoint: 40em;

  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  background: black;
  color: white;
  padding-top: 7.5vmin;
  margin-top: -#{$layout-md};
  margin-bottom: $layout-md;
  z-index: 0;

  @media (min-width: $header-banner-over-breakpoint) {
    &.has-image {
      height: 60vmin;
      min-height: 20em;
      overflow: hidden;
    }
  }

  figure {
    width: 100%;
    margin: -7.5vmin 0 0;

    @media (min-width: $header-banner-over-breakpoint) {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: 0;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__title-container {
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) $spacing-lg);
    padding: $spacing-2xl 0 0;

    @media (min-width: $header-banner-over-breakpoint) {
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) $spacing-lg, rgba(0,0,0,0.75) 100%);
    }

    h1 {
      margin-top: 0;
    }

    .flex-container {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &__scrolldown {
    float: right;
    align-self: flex-start;
    order: 2;
    margin: $spacing-xs 0 $spacing-md $spacing-md;

    @media (min-width: $header-banner-over-breakpoint) {
      align-self: flex-end;
      font-size: 2em;
      float: none;
      margin: 0 0 $spacing-2xl $spacing-lg;
    }

    &-link {
      display: block;
      width: 2em;
      height: 2em;
      background: url('../img/icon-scrolldown.svg') no-repeat center center;
      background-size: contain;
    }
  }

  &__cta {
    flex: 1 1 100%;
    align-self: flex-end;
    order: 2;
    margin: $spacing-md 0;

    @media (min-width: $header-banner-over-breakpoint) {
      flex: 1 1 10em;
      text-align: right;
      margin: 0 0 $spacing-2xl $spacing-lg;

      .button {
        margin-bottom: $spacing-2xs;
      }
    }
  }

  figure + &__title-container {
    margin-top: -#{$spacing-lg};
  }

  .page-title {
    flex: 5 1 15em;
    margin-bottom: 0;
    padding-bottom: $spacing-lg;

    * {
      color: white;
    }

    @media (min-width: $header-banner-over-breakpoint) {
      flex: 5 1 25em;
      padding-bottom: $spacing-2xl;
    }

    p {
      max-width: $line-length-max-rem;
    }
  }
}