
.header-site {
  background: rgba(0,0,0,0.6);
  position: absolute;
  left: $body-border-width;
  right: 0;
  z-index: 10;
  padding: 0;
  margin: 0;

  &.has-solid-bg {
    background: black;
  }

  &--dashboard {
    background: $red;
  }

  @media (min-width: $body-border-breakpoint) {
    left: $body-border-width--wide;
  }

  &__flexContainer {
    display: flex;
    justify-content: flex-end;

    @media (min-width: $megaNav-full-breakpoint) {
      position: relative;
    }
  }

  .site-logo {
    justify-self: flex-start;
    margin-right: auto;
    width: 25%;
    max-width: 8.5em;
    height: 3.5em;

    img {
      transition: all 200ms;
    }
  }

  @at-root .has-expanded-nav {

    .header-site {
      .site-logo {
        img {
          height: 3.5em;
          //opacity: 0;
        }
      }
    }
  }
}


.toggle-megaNav,
.toggle-search-site {
  display: block;
  justify-self: flex-end;
  align-self: center;
  height: $spacing-3xl;
  width: $spacing-3xl;
  margin: $spacing-sm 0 $spacing-sm $spacing-sm;
  padding: 0;
  border: 0;
  z-index: 2;
  cursor: pointer;
  color: white;

  &.is-toggled {
    opacity: 0.5;
  }

  &__label {
    display: block;
    text-align: center;
    @include typescale('2xs');
    padding-top: 1.75rem;
  }
}

.toggle-search-site {
  background: url('#{$image-theme-directory-icon}/icon-magnify-white.svg') center $spacing-2xs no-repeat;
  background-size: $spacing-lg $spacing-lg;

  @media (min-width: $megaNav-full-breakpoint) {
    background-position: center center;
    height: $spacing-xl;
    order: 3;

    &__label {
      display: block;
      position: absolute;
      left: -9999em;
      clip: rect(0 0 0 0);
    }
  }
}

.toggle-megaNav {
  background: url('#{$image-theme-directory-icon}/icon-hamburger-white.svg') center $spacing-2xs no-repeat;
  background-size: $spacing-lg $spacing-lg;

  @media (min-width: $megaNav-full-breakpoint) {
    display: none;
  }
}