
.header-site {
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  left: $body-border-width;
  right: 0;
  z-index: 10;
  padding: 0;
  margin: 0;

  @media (min-width: $body-border-breakpoint) {
    left: $body-border-width--wide;
  }

  &__flexContainer {
    display: flex;
    justify-content: space-between;

    @media (min-width: $megaNav-full-breakpoint) {
      position: relative;
    }
  }

  .site-logo {
    width: 20%;
    max-width: 8.5em;
    height: 3.5em;

    img {
      transition: all 200ms;
    }
  }

  @at-root .has-expanded-nav {

    .header-site {
      .site-logo {
        img {
          height: 3.5em;
          //opacity: 0;
        }
      }
    }
  }
}
