<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
  {% include '_preview-head.twig' %}
</head>

<body>

<main>
    {{ yield }}
</main>

{% include '_preview-footer.twig' %}

</body>
</html>