.list-icon-bullets {
  list-style: none;
  padding-left: 0;

  li {
    @include clearfix;
    border-bottom: 1px solid $grey-light;
  }

  a {
    @include font-secondary;
    @include typescale('md');
    display: block;
    text-decoration: none;
    text-decoration-color: black;
    padding: $spacing-md $spacing-md $spacing-md 3.5rem;

    &:after {
      bottom: 1.2rem;
    }

    .icon {
      font-size: 2.5rem;
      float: left;
      margin-top: -0.75rem;
      margin-left: -3.5rem;
    }

    &:hover {
      text-decoration: underline;
      @include link-pointy--hover;
    }
  }
}

.list-block {
  list-style: none;
  padding-left: 0;
  margin-bottom: $spacing-4xl;

  > li,
  .item {
    border-top: 1px solid $grey-light;
    padding-top: $spacing-xl;
    margin-bottom: $spacing-xl;
  }

  .item__title {
    margin-top: 0;
  }

  .tic {
    margin: 0;
  }
}