$panel__padding: $layout-lg;
$panel__overcontent-breakpoint: 40em;

.panel {
  position: relative;
  margin: $layout-lg 0 $layout-xl;
  //padding: $panel__padding 0;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  //+ .panel {
  //  margin-top: -#{$layout-lg};
  //}

  &__title {
    margin-top: $layout-xs;
  }

  &.has-bg-gradient,
  &.has-bg-gradient--top {
    padding-top: $panel__padding;

    &:before {
      @include panel__gradient('top');
      top: 0;
    }
  }

  &.has-bg-gradient,
  &.has-bg-gradient--bottom {
    padding-bottom: $panel__padding;

    &:after {
      @include panel__gradient('bottom');
      bottom: 0;
    }
  }

  &.has-padding,
  &.has-padding--top {
    padding-top: $panel__padding;
  }

  &.has-padding,
  &.has-padding--bottom {
    padding-bottom: $panel__padding;
  }

  &.has-negative-header-margin {
    margin-top: -#{$layout-lg};
  }

  &.has-negative-footer-margin {
    margin-bottom: -#{$layout-xl};
  }

  &__bg {
    margin: -#{$layout-md} 0 $layout-md;
    height: 50vmin;
    overflow: hidden;
    position: relative;
    display: flex;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }

    @media (min-width: $panel__overcontent-breakpoint) {
      margin: 0;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
    }

    &--fixed {
      @media (min-width: $panel__overcontent-breakpoint) {
        position: fixed;
      }
    }

    .img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background-size: cover;
      background-position: center center;

      @media (min-width: $panel__overcontent-breakpoint) {
        background-attachment: fixed;
      }
    }
  }

  &__overcontent {
    @media (min-width: $panel__overcontent-breakpoint) {
      position: relative;
      max-width: 50%;
      margin-left: auto;
      z-index: 1;
    }

    @media (min-width: 80em) {
      max-width: 40%;
    }
  }
}

.panel--fullpage {
  // this is legacy and sketchy, don't use, it needs to be refactored out.
  margin-top: -#{$layout-lg};
  padding-top: $panel__padding;
  padding-bottom: $panel__padding;
  z-index: 2; // raises above <main> pseudogradients

  .panel__bg {
    @media (min-width: $panel__overcontent-breakpoint) {
      position: fixed;
    }
  }
}

.panel--fullpage-donate {
  // see donations.scss
}

.panel.bg-white {
  &:before,
  &:after {
    z-index: 0; // bring up gradient from -1 so it's visible above white background
  }
}

.panel--wide-image {
  > figure:first-child,
  > .wrap > figure:first-child {
    margin-bottom: $spacing-2xl;
  }

  &.has-bg-gradient,
  &.has-bg-gradient--top {
    > figure:first-child,
    > .wrap > figure:first-child {
      margin-top: -#{$panel__padding};
    }
  }
}

main > .wrap > .panel:last-child {
  margin-bottom: -#{$layout-xl};
}

.header-banner + .panel {
  margin-top: -2rem;
}