$panel__padding: $spacing-4xl;

.panel {
  position: relative;
  margin: $spacing-4xl 0 $spacing-5xl;
  //padding: $panel__padding 0;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    margin-top: $spacing-sm;
  }
}