@import "../__vars/layout";

body {
  border-left: $body-border-width solid $red;

  @media (min-width: 47.5em) and (min-height: 30em) {
    border-left: $body-border-width--wide solid $red;
  }

  &:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $body-border-width;
    background: $red;
    z-index: 0;

    @media (min-width: 47.5em) and (min-height: 30em) {
      width: $body-border-width--wide;
    }
  }
}

main {
  position: relative;
  z-index: 0;
  clear: both;
  //overflow-x: hidden; // this is set to stop page horizontal scrollbar when using align-wide with 100vw, see https://caniuse.com/#feat=viewport-units (known issues)
}

section {
  margin: $spacing-4xl 0;

  &:first-child {
    margin-top: 0;
  }
}

.wrap {
  @include wrap;
}

.align-left {
  @include align-left;
}

.align-right {
  @include align-right;
}

.align-center,
.align-centre {
  margin-left: auto !important;
  margin-right: auto !important;
}

.align-full,
.alignfull {
  @include align-full;
}

.wrap-wysiwyg {
  @include clearfix;
}

.size-line-length-max {
  max-width: $line-length-max-rem;
  box-sizing: border-box;
}
