.footer-site {
  background: $neutral--primary;
  color: #fff;
  clear: both;
  position: relative;
  padding: 0 0 $spacing-6xl;
  z-index: 0;

  a:not(.button) {
    color: white;
  }

  h6 {
    margin-top: $spacing-lg;
  }

  &__logo {
    display: inline-block;
    margin: 0 0 $spacing-lg;

    img {
      display: block;
      margin: auto;
      width: 7.5em;
      max-width: 25vmin;
    }
  }

  &__social-list {
    .icon {
      @include typescale('4xl');
      margin-right: $spacing-sm;
    }
  }

  &__legal {
    margin: 0 0 $spacing-2xs;
    @include typescale('xs');
    @include line-height('compact');
  }
}