
.header-site {
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  left: $body-border-width;
  right: 0;
  z-index: 10;
  padding: 0;
  margin: 0;

  @media (min-width: 47.5em) and (min-height: 30em) {
    left: $body-border-width--wide;
  }

  > .wrap {
    position: relative;
  }
}
