@import "../__vars/_all";

@include font-face;

html {
  position: relative;
  font-size: 85%;
  text-decoration-skip-ink: auto;

  @media (min-width: 47.5em) and (min-height: 40em) {
    font-size: 90%;
  }

  @media (min-width: 90em) and (min-height: 55em) {
    font-size: 100%;
  }

  @media (min-width: 120em) and (min-height: 60em) {
    font-size: 115%;
  }

  @supports (font: -apple-system-body) {
    font: -apple-system-body;
    text-size-adjust: 85%;
  }
}

body {
  @include body;
}

::selection {
  background: rgba($primary, 0.15);
}

@include base-elements;

@each $name, $size in $typescale-map {
  .font-#{$name} {
    @include typescale($name, $important: true);
  }
}

.font-primary {
  @include font-primary;
}

//.font-secondary {
//  @include font-secondary;
//}

main,
article {
  p:not([class]) {
    max-width: $line-length-max-rem;
  }

  li:not([class]) {
    max-width: calc(#{$line-length-max-rem} - 1.5em); // subtract base ul left hand padding to match p width
  }
}

hgroup,
.hgroup {
  margin: 0 0 $spacing-lg;

  #{headings()} {
    margin: 0 0 $spacing-xs;
  }
}

.meta {
}

.meta--inline {
  .meta-item {
    margin-bottom: $spacing-2xs;
  }

  dt, dd {
    display: inline-block;
  }

  dd {
    margin-bottom: 0;
  }
}

.caps {
  @include caps;
}

.list-inline {
  margin-left: 0;
  padding-left: 0;

  li {
    list-style-type: none;
    display: inline-block;
    margin-right: 0.25em;
  }
}

.tag {
  @include tag;
}

a.tag {
  &:hover {
    @include tag--hover;
  }
}

.list-unbulleted,
.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.list-bordered-items {
  list-style: none;
  padding-left: 0;

  li {
    padding: $spacing-sm 0;
    border-bottom: 1px solid $grey-light;
  }
}

.link-pointy {
  @include link-pointy;

  &:hover,
  &:focus {
    @include link-pointy--hover;
  }
}

.link-cta {
  @include typescale('lg');
  @include line-height('normal');
  font-weight: 800;
  @include link-pointy;

  &:hover,
  &:focus {
    @include link-pointy--hover;
  }
}

.link-access,
.visually-hidden,
.screen-reader-text {
  display: block;
  position: absolute;
  left: -9999em;
  clip: rect(0 0 0 0);

  &:focus {
    position: static;
    left: auto;
    clip: none;
  }
}