<!DOCTYPE html>
<html class="no-js no-touch theme-dil" lang="en">
<head>
    {% include '_preview-head--dil.twig' %}
</head>

<body>

{{ yield }}

{% include '_preview-footer.twig' %}

</body>
</html>