{% include '@meganav' %}
<div class="masthead">
  <div class="masthead__inner">
    <div class="masthead__bg">
      <img src="{{ ('/img/masthead0.jpg') | path }}"/>
    </div>
    <div class="wrap">
      {% include '@title' with {
        text: 'Shortlisted for "University of the year"',
        modifiers: ['has-tail'],
        textElement: 'h1',
        textElementStyle: 'h2',
        animate: true
      } %}
      {% include '@title' with {
        text: '- The Times and The Sunday Times Good University Guide 2020',
        modifiers: ['bg-white', 'has-tail'],
        textElement: 'h6',
        animate: true
      } %}
      {% include '@button' with {
        text: 'Book an open day',
      } %}
    </div>
  </div>
</div>


<main id="main-content" role="main" class="">
  <div class="slab  slab--bg-slate">
    <div class="wrap">
        <div class="course-search">
          <label class="visually-hidden" for="course-search__keywords">Search courses by keyword</label>
          <input class="course-search__keywords" id="course-search__keywords" name="cQueryH" type="search" placeholder="Search courses by keyword">
          
          <label class="visually-hidden" for="course-search__level">Filter</label>
          <select id="course-search__level" name="cFilter">
              <option value="">All levels of study</option>
              <option value="undergraduate">Undergraduate</option>
              <option value="postgraduate">Postgraduate</option>
          </select>
      
          <button class="button" id="course-search__submit" name="cSubmit" type="button">Search</button>
      </div>
    </div>
  </div>

  <div class="slab  slab--bg-offwhite">
    <div class="wrap">
      {% include '@title' with {
        text: 'Open days',
        textElement: 'h2',
        tail: true,
        animate: true
      } %}

      <div class="grid  grid-4-cols">
        {% for i in 1..4 %}
          <div>
            <div class="box  box--has-shadow">
              <div class="box__content">
                <div class="title">
                  <h3 class="h6  title__highlight"><a href="">Undergraduate Open day</a></h3>
                </div>
                <time class="strong">28 March 2020</time>
                <p>Centre of Excellence Shrewsbury</p>
              </div>
              <footer class="box__footer">
                <a href="" class="button  button--block  caps  align-center">Book Now</a>
              </footer>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="slab slab--light">
    <div class="wrap">
      {% include '@title' with {
        text: 'Features and highlights',
        textElement: 'h2',
        tail: true,
        animate: true
      } %}

      <div class="grid  grid--flush  grid-2-cols@mobile-wide  grid-3-cols@tablet-wide  feature-tiles">
        <div class="feature-tiles__item  js-waypoint">
          <a class="tile" href="">
            <figure class="tile__figure">
              <img src="https://picsum.photos/500/500?random=1" class="tile__img" alt=""/>
            </figure>

            <div class="tile__content">
              <div class="title tile__title">
                <h3 class="h4  title__highlight">Digital Institute London</h3>
              </div>
              <div class="tile__content-body">
                <p>Study Esports, Computer Games Design, Cyber Security, and more, with us in London.</p>
              </div>
            </div>
          </a>
        </div>

        <div class="feature-tiles__item  feature-tiles__item--accent-pink  js-waypoint">
          <a class="tile" href="">
            <figure class="tile__figure">
              <img src="https://picsum.photos/500/500?random=2" class="tile__img" alt=""/>
            </figure>

            <div class="tile__content">
              <div class="title  tile__title">
                <h3 class="h4  title__highlight">Developing knowledge</h3>
              </div>
              <div class="tile__content-body">
                <p>Reach your full potential with our postgraduate courses.</p>
              </div>
            </div>
          </a>
        </div>

        <div class="feature-tiles__item  feature-tiles__item--accent-maroon  js-waypoint">
          <a class="tile" href="">
            <figure class="tile__figure">
              <img src="https://picsum.photos/500/500?random=3" class="tile__img" alt=""/>
            </figure>

            <div class="tile__content">
              <div class="title  tile__title">
                <h3 class="h4  title__highlight">Connecting Continents</h3>
              </div>
              <div class="tile__content-body">
                <p>Study with us, no matter where in the world you come from.</p>
              </div>
            </div>
          </a>
        </div>

        <div class="feature-tiles__item  feature-tiles__item--accent-pink  js-waypoint">
          <a class="tile" href="">
            <figure class="tile__figure">
              <img src="https://picsum.photos/500/500?random=4" class="tile__img" alt=""/>
            </figure>

            <div class="tile__content">
              <div class="title  tile__title">
                <h3 class="h4  title__highlight">Breaking boundaries</h3>
              </div>
              <div class="tile__content-body">
                <p>Public lecture from Ade Adepitan MBE</p>
              </div>
            </div>
          </a>
        </div>

        <div class="feature-tiles__item  js-waypoint">
          <a class="tile" href="">
            <figure class="tile__figure">
              <img src="https://picsum.photos/500/500?random=5" class="tile__img" alt=""/>
            </figure>

            <div class="tile__content">
              <div class="title tile__title">
                <h3 class="h4  title__highlight">There’s still time to apply for 2020 entry</h3>
              </div>
              <div class="tile__content-body">
                <p>Apply for a full-time undergraduate degree at Staffordshire University and get guaranteed accommodation.</p>
              </div>
            </div>
          </a>
        </div>

        <div class="feature-tiles__item  feature-tiles__item--accent-tef-gold  js-waypoint">
          <a class="tile" href="">
            <figure class="tile__figure">
              <img src="https://picsum.photos/500/500?random=6" class="tile__img" alt=""/>
            </figure>

            <div class="tile__content">
              <div class="title  title--bg-tef-gold  tile__title">
                <h3 class="h4  title__highlight">TEF Gold</h3>
              </div>
              <div class="tile__content-body">
                <p>Staffordshire University achieves Gold in the Teaching Excellence and Student Outcomes Framework</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="slab  slab--bg-offwhite">
    <div class="wrap">
      {% include '@title' with {
        text: 'Be the change',
        textElement: 'h2',
        tail: true,
        animate: true
      } %}

      <div class="grid  grid--spaced">
        <div class="col-1/3">
          <p class="intro">Choose Staffordshire University for its friendly vibe, its world-class facilities, specialist courses and dedicated international student support.</p>
        </div>

        <div class="col-2/3">
          <a class="feature-link" href="">
            <div class="feature-link__content">
              <h3 class="h4 feature-link__title">Postgraduate</h3>
              <p>Boost your knowledge and discover a world of new career opportunities with postgraduate study.</p>
            </div>
          </a>
          <a class="feature-link" href="">
            <div class="feature-link__content">
              <h3 class="h4 feature-link__title">International</h3>
              <p>We’ll support you every step of the way from visa and immigration advice to tips on the local area and its attractions.</p>
            </div>
          </a>
          <a class="feature-link" href="">
            <div class="feature-link__content">
              <h3 class="h4 feature-link__title">Digital Institute London</h3>
              <p>Study Esports, Computer Games Design, Cyber Security, and more, with us in London.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="slab  ">
    <div class="wrap">
      <header class="section-header  section-header--border-bottom">
        {% include '@title' with {
          text: 'Upcoming Events',
          textElement: 'h2',
          tail: true,
          animate: true
        } %}
      </header>

      {% include '@card--event' %}

      <div class="text-right">
        <a href="" class="button">View all events</a>
      </div>
    </div>
  </div>


  <div class="slab  slab--bg-offwhite">
    <div class="wrap">
      <header class="section-header  section-header--border-bottom">
        {% include '@title' with {
          text: 'Latest News',
          textElement: 'h2',
          tail: true,
          animate: true
        } %}
      </header>


      <div class="grid  grid-4-cols">
        {% for i in 1..4 %}
          <div>

            <div class="card  card--course">
              <figure class="card__figure">
                <img src="https://picsum.photos/480/240?random=7" alt=""/>
              </figure>

              <div class="card__content">
                <h3 class="h6  card__title"><a href="#" class="link--stretched">Research into poverty in Stoke-on-Trent gets new funding boost</a></h3>
                <p>University's pioneering work with community researchers will help inform new model of community research</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="text-right">
        <a href="" class="button">View all news</a>
      </div>

    </div>
  </div>

  <div class="quote-banner  margin-top-3xs">
    <div class="wrap">

      <div class="quote-banner__flexContainer">

        <div class="quote-banner__quoteContainer">
          <div class="card  card--testimonial  card--maroon">
            <div class="card__content">
              <blockquote class="blockquote--large">
                <q class="blockquote__title">Since coming to Staffordshire Uni I’ve become much more creative and confident in myself and my abilities</q>

                <footer class="blockquote__footer">
                  <cite class="cite">Dan Sheerman</cite>
                  <p>Vice President of naming complicated variants of things</p>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>

        <figure class="quote-banner__figure  quote-banner__figure--align-bottom">
          <img src="{{ '/img/placeholder-transparent-person.png' | path }}" alt="person smiling"/>
        </figure>
      </div>

    </div>
  </div>

</main>

{% include '@slider--accolades' %}
{% include '@page-footer' %}