{% include '@meganav' %}
<div class="masthead" style="background-image: url('../../img/masthead.jpg');">
  <div class="wrap">
    {% include '@breadcrumbs' %}
    {% include '@title' with {
      text: 'Student Life',
      modifiers: ['has-tail'],
      textElement: 'div',
      textElementStyle: 'h1',
      animate: true
    } %}
  </div>
</div>

<main id="main-content" role="main" class="">

  <div class="slab">
    <div class="wrap">

      <header class="section-header  section-header--border-bottom">
        <div class="title  title--has-tail  js-waypoint">
          <h1 class="h2  title__highlight">Announcing our Spring series of public events</h1>
        </div>
      </header>

      <div class="grid  grid--spaced">
        <div class="col-3/4@desktop">

          <div class="grid  grid--spaced">
            <div class="col-1/3@tablet">
              <figure>
                <img src="https://placeimg.com/480/240/people" alt=""/>
                <figcaption>Ade Adepitan is presenting his Breaking Boundaries public lecture at Staffordshire University on Tuesday 25 February</figcaption>
              </figure>
            </div>

            <div class="col-2/3@tablet">
              <div class="margin-bottom-4xl">
                <p class="intro">Staffordshire University is going global with a programme packed full of free events to start the new decade.</p>
                <p>The spring calendar showcases the University’s worldwide impact, with the return of the popular ‘Profs in the Pav’ talks, commemorative events, plus a range of exciting lectures from academics and public figures.</p>
                <p>2020 marks the International Year of the Nurse and Midwife, and Staffordshire University is joining colleagues across the globe to shine a spotlight on the sector. Celebrations kick off with a talk this week by Visiting Professor Ann-Marie Cannaby, Chief Nurse at the Royal Wolverhampton Hospital, at the University’s Centre of Excellence in Healthcare Education, Stafford.Two hundred years may have passed since the birth of Florence Nightingale, but patient care and safety remain the most important influencing factors within the fields of nursing and midwifery. Professor Cannaby will use her keynote presentation to explore curriculum developments.</p>
                <p>On Monday 27 January a special event will mark Holocaust Memorial Day, with members of the Staffordshire University community sharing their experiences of visiting Srebrenica, where genocide occurred during the Bosnian War in 1995.  The same week, on Thursday 30 January, firearms expert Dr Rachel Bolton-King will deliver a lecture about her Churchill Fellowship travels to South Africa, USA and France.</p>
                <h2 class="h4">Other Highlights</h2>
                <p>Other highlights include a public lecture from broadcaster and wheelchair basketball player Ade Adepitan MBE, which will take place on Tuesday 25 February. From surviving polio as a child to winning a bronze medal at the 2004 Summer Paralympics in Athens and a gold medal at the 2005 Paralympic World Cup in Manchester, Ade will share the ambitious and inspirational story of how he became a global campaigner against racism and disability discrimination.</p>
                <p>James Morgan, Head of Communications at Staffordshire University, said: “This series of events celebrates the impact that our Connected University is making, not only within our local communities but also on a global level.</p>
              </div>
            </div>

          </div>

        </div>

        <div class="col-1/4@desktop">
          <div class="grid  grid--spaced  grid-2-cols@mobile-wide">

            <div class="col-full@desktop">
              <blockquote>
                <q>I’m delighted for Staffordshire University to be shortlisted for Best Educational Institution.</q>
                <footer>
                  <cite>Dr Bobbie Fletcher </cite>
                  Head of Department Games and Visual Effects
                </footer>
              </blockquote>
            </div>

            <div class="col-full@desktop">
              <div class="banner">
                <div class="banner__bg  banner__bg--blurred">
                  <img src="https://placeimg.com/400/400">
                </div>

                <div class="banner__body">
                  <div class="hgroup">
                    <div class="title">
                      <div class="h4  title__highlight">Undergraduate Open Day</div>
                    </div>
                  </div>

                  <div class="banner__cta">
                    <a href="" class="button">Book an open day</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="banner">
        <div class="banner__body  banner__body--shallow">
          <div class="hgroup">
            <div class="title  title--has-tail  js-waypoint">
              <div class="h2  title__highlight">Undergraduate Prospectus</div>
            </div>
          </div>

          <div class="title  title--bg-white  title--has-tail  js-waypoint">
            <p class="title__highlight">Get an in-depth look at all of the courses we offer and explore the benefits of undergraduate study</p>
          </div>

          <div class="banner__cta">
            <a href="" class="button">Request a Prospectus</a>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>

{% include '@slider--accolades' %}
{% include '@page-footer' %}