.slab {
  position: relative;
  $border-color: $grey--light;
  padding: $spacing-4xl 0;

  &__title {
    margin-top: $spacing-md;
  }

  &__header {
    margin-top: -#{$spacing-4xl};
  }

  //--

  &--border-bottom {
    border-bottom: 1px solid $border-color;
  }

  &--border-top {
    border-bottom: 1px solid $border-color;
  }

  //--

  @each $name, $value in $slab-bg-colors {
    &--bg-#{$name} {
      background-color: #{$value};
      @if (choose-contrast-color($value) == white) {
        color: white;
      }
    }
  }
}