.theme-ldn {
  // NB: The majority of changes should be taken care of by simply
  // setting colours for components to inherit in main-ldn.scss
  // See that file, and the docs on colour and theming before adding overrides here.


  // This file just contains scoped overrides we haven't done more nicely,
  // becuase the alternate theme was a fairly last-minute addition


  .header-site {
    &__flexContainer {
      align-items: center;
    }

    .site-logo {
      width: 35%;
      max-width: 12.5em;

      img {
        margin: 0;
      }
    }
  }

  .footer-site {
    background: $granite--ldn;

    &__logo {
      margin: $spacing-md 0;

      img {
        width: 12.5em;
      }
    }
  }

  // CG: Certain buttons in components on London to be clipped by default
  .box, .banner, .masthead 
  {
    & .button {
      @include button--clipped;
    }
  }

  .multipage-form 
  {
    & .button:not([class^="multipage-form__prev-btn"]) {
      @include button--clipped;
    }
  }
}