<div class="site-search" role="form">
    <div class="site-search__options  grid  grid-2-cols">
        <div>
            <input class="site-search__scope" id="site-search__scope--sites" name="cScope" type="radio" value="courses" checked>
            <label for="site-search__scope--sites">Search courses</label>
            <br>
            <input class="site-search__scope" id="site-search__scope--site" name="cScope" type="radio" value="wholeSite">
            <label for="site-search__scope--site">Search staffs.ac.uk</label>
        </div>
        <div class="col-3/4">
            <input class="site-search__keywords" id="site-search__keywords" name="cQueryH" type="search" placeholder="Search courses">
        </div>
    </div>
    <p>Hit enter to search or ESC to close</p>
</div>