
.site-logo {
  position: absolute;
  width: 15%;
  max-width: 12em;
}

.nav-primary-toggle {
  display: none;
}

.nav-primary {
  text-align: right;
  margin-left: 15%;

  ul {
    margin: 0;
  }

  li {
    display: inline;

    a, a:visited {
      font-weight: 500;
      color: #fff;
      display: inline-block;
      padding: 0.5em;
      background: transparent;
      transition: all 0.2s;

      @media (min-width: 60em) and (min-height: 30em) {
        @include typescale('lg');
        padding: 1em;
      }

      &:hover {
        box-shadow: inset 0 3px 0 $red;
        background: black;
      }
    }
  }
}