.course-search {
    &__keywords {
        &[type="search"] {
            max-width: 100%;
        }
    } 
    select {
        max-width: 100%;
    }
    &__submit:hover {
        cursor: pointer;
    }
}
@media (min-width: $third-breakpoint) {
    .course-search {
        &__keywords {
            &[type="search"] {
                max-width: 60%;
            }
        } 
        &__submit {
            max-width: 10%;
        }
        select {
            max-width: 30%;
        }
    }
}
.course-search__category {
    font-weight: bold;
    padding: 0 $spacing-xs;
    margin-bottom: 0;
}
.ui-menu-item__course {
    padding: 0 $spacing-xs 0 $spacing-sm;

    &:hover {
        background-color: #EEE;
    }
}