// add icons to this array with their filename and type,
// the loop at the bottom of the file will create classes for them

$icons: (
  'envelope': 'svg',
  'phone': 'svg',
  'facebook': 'svg',
  'pin': 'svg',
  'calendar': 'svg',
  'clock': 'svg',
  'pricetag': 'svg',
  'facebook-white': 'svg',
  'instagram': 'svg',
  'instagram-white': 'svg',
  'linkedin': 'svg',
  'linkedin-white': 'svg',
  'pinterest': 'svg',
  'pinterest-white': 'svg',
  'snapchat': 'svg',
  'snapchat-white': 'svg',
  'twitter': 'svg',
  'twitter-white': 'svg',
  'youtube': 'svg',
  'youtube-white': 'svg',
  'form' : 'svg'
);

.icon {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  text-align: center;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: baseline;
  top: 0.1em;

  svg,
  img {
    display: inline-block;
    width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }

  svg {
    height: 100%;
    //fill: #000;
  }

  &:before {
    font-size: 1em;
    display: inline-block;
  }

  @each $name, $extension in $icons {
    &--#{$name} {
      background-image: url('#{$image-theme-directory}/icons/icon-#{$name}.#{$extension}');
    }
  }
}