// add icons to this array with their filename and type,
// the loop at the bottom of the file will create classes for them

$icons: (
    //'facebook-white': 'svg',
    //'twitter-white': 'svg',
    //'youtube-white': 'svg',
    //'pinterest-white': 'svg',
    //'linkedin-white': 'svg',
    //'youtube-white': 'svg',
);

.icon {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  text-align: center;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: baseline;
  top: 0.1em;

  svg,
  img {
    width: 100%;
    max-height: 100%;
  }

  svg {
    height: 100%;
    //fill: #000;
  }

  &:before {
    font-size: 1em;
    display: inline-block;
  }

  @each $name, $extension in $icons {
    &--#{$name} {
      background-image: url('../img/icon-#{$name}.#{$extension}');
    }
  }
}