
// Staffs Palette

$red:                           #d70a26;
$maroon:					              #970048;
$pink:					                #d5035e;
$slate:					                #394851;
$slate--light:                  #616d74;
$offblack:                      #1d1d1b;
$grey--dark:                    #444;
$grey--shadow:                  #c4c4c4;
$grey--light:                   #dddddd;
$greyblue--light:               #e8ebed;
$greyblue--superlight:          #f0f1f2;
$greyblue--supersuperlight:     mix(#f0f1f2, #fff);
$offwhite:                      #f1f1f1;
$yellow:                        #ffd91b;
$gold--tef:                     #dd9200;

$blue:                          #0000cc;
$blue--light:                   #8888cc;


// London Palette

$blue--deep-ldn:                rgb(20, 65, 150);
$blue--ldn:                     rgb(0, 130, 200);
$magenta--ldn:                  rgb(185, 15, 130);
$purple--deep-ldn:              rgb(130, 30, 130);
$granite--ldn:                  rgb(65, 70, 75);

// Theme Colours:

$primary:                       $red;
$secondary:                     $maroon;
$tertiary:                      $yellow;

/// Referencable colours

$page-bg:                       white;
$text-color:                    black;
$link-color:                    black;
$link-color--hover:             $primary;
$heading-color:                 black;
$table-accent:                  $slate;
$table-accent--light:           $slate--light;


// Utilities Classes Setup
// these are output by the loops in _utils/utils.scss (included by main)

$utils-bg-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
  'grey-light': $grey--light,
  'offwhite': $offwhite,
  'offblack': $offblack,
  'white': white,
);

$utils-text-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'white': white,
  'black': black,
  'offwhite': $offwhite,
  'offblack': $offblack,
);

// Component Theme Variants Setup
// these are used by components' partials to create colour variants
// they live here (for the time being) so they can be overridden before components are imported for themes (London)

$card-accent-colors: (
  'red': $red,
  'pink': $pink,
  'maroon': $maroon,
  'slate': $slate,
  'blue-ldn': $blue--deep-ldn,
);

$tile-accent-colors: (
  'red': $red,
  'pink': $pink,
  'maroon': $maroon,
  'slate': $slate,
  'tef-gold': $gold--tef,
  'blue-ldn': $blue--deep-ldn,
);

$title-bg-colors: (
  'white': 'white',
  'red': $red,
  'pink': $pink,
  'maroon': $maroon,
  'slate': $slate,
  'tef-gold': $gold--tef,
  'blue-ldn': $blue--deep-ldn,
);

$slab-bg-colors: (
  'offwhite': $offwhite,
  'slate': $slate,
  'slate-light': $slate--light,
);