
// Staffs Palette

$red:                           #D70A26;
$maroon:					    #970048;
$slate:					        #394851;
$offblack:                      #1D1D1B;
$grey-dark:                     #444;
$grey-shadow:                   #C4C4C4;
$grey-light:                    #DDDDDD;
$offwhite:                      #EEEEEE;

// Theme Colours:

$primary:                       $red;
$secondary:                     $slate;
$tertiary:                      $maroon;

/// Referencable colours

$page-bg:                       white;
$text-color:                    black;
$link-color:                    black;
$link-hover-color:              $primary;
$heading-color:                 black;


// Utilities Classes Setup
// these are output by the loops in _utils/utils.scss (included by main)

$utils-bg-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
  'grey-light': $grey-light,
  'offwhite': $offwhite,
  'offblack': $offblack,
  'white': white,
);

$utils-text-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'white': white,
  'black': black,
  'offwhite': $offwhite,
  'offblack': $offblack,
);