
$wrap-width: 86rem;

$wrap-large-gutter-width: 40rem;
$wrap-full-gutter-width: 40rem;

$line-length-max: 50em;
$line-length-max-rem: 50rem;

$breakpoint-largescreen-typography: $third-breakpoint + 5rem;
$breakpoint-largescreen-typography-height: 30rem;

$align-leftright-size-small: 33%;
$align-leftright-size-medium: 50%;
$align-leftright-size-large: 66%;
$align-min-breakpoint: 32.5rem;
//$align-right-offset-breakpoint: $wrap-width + 10rem;

$body-border-width: $spacing-2xs;
$body-border-width--wide: $spacing-md;
$body-border-breakpoint: $wrap-full-gutter-width;

$site-header-nav-visible: 50rem;


@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 $page-gutter-small;
  max-width: $wrap-width;
  box-sizing: border-box;

  @media (min-width: $wrap-large-gutter-width) { // these are currently the same, but leave both in case one changes.
    padding: 0 $page-gutter-large;
  }

  @media (min-width: $wrap-full-gutter-width) { // these are currently the same, but leave both in case one changes.
    padding: 0 $page-gutter-full;
  }
}

@mixin wrap-content {
  @include clearfix;
  max-width: $line-length-max;
}

@mixin align-left {
  float: none;

  @media (min-width: $align-min-breakpoint) {
    float: left;
    max-width: calc(#{$align-leftright-size-medium} - #{$grid-gutter/2});
    box-sizing: border-box;
    margin-left: 0;
    margin-top: $spacing-2xs;
    margin-right: $grid-gutter-large;
    margin-bottom: $spacing-lg;
  }

  @media (min-width: $third-breakpoint) {
    max-width: calc(#{$align-leftright-size-small} - #{$grid-gutter/2});
  }
}

@mixin align-right {
  float: none;

  @media (min-width: $align-min-breakpoint) {
    float: right;
    clear: right;
    max-width: calc(#{$align-leftright-size-medium} - #{$grid-gutter/2});
    box-sizing: border-box;
    margin-right: 0;
    margin-top: $spacing-2xs;
    margin-left: $grid-gutter-large;
    margin-bottom: $spacing-lg;
  }

  @media (min-width: $third-breakpoint) {
    max-width: calc(#{$align-leftright-size-small} - #{$grid-gutter/2});
  }
}

@mixin align-wide {
  max-width: none;
  width: calc(100vw - #{$page-gutter-small*2});
  margin-left: calc(-50vw + 50% + #{$page-gutter-small});
  margin-right: calc(-50vw + 50% + #{$page-gutter-small});

  @media (min-width: $wrap-full-gutter-width) {
    width: calc(90vw);
    margin-left: calc(-45vw + 50%);
    margin-right: calc(-45vw + 50%);
  }

  @media (min-width: $wrap-width + 10rem) {
    width: $wrap-width;
    margin-left: calc(-#{$wrap-width/2} + 50%);
    margin-right: calc(-#{$wrap-width/2} + 50%);
  }
}

@mixin align-full {
  max-width: none;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}