.masthead {
  display: flex;
  min-height: 65vh;
  min-height: 65vmin;
  padding: 9em 0 2em;  // what does this relate to and why?
  background-size: cover;
  background-position: 50% 50%;
  box-sizing: border-box;
  //float: left;
  //width: 100%;

  &__bg {
    // should use an abs:pos div with responsive image rather than background image
  }

  @media (min-width: 47.5em) and (min-height: 30em) { // @TODO: USE VARIABLES!
    padding-top: 12em;
  }
  @media (min-width: 60em) and (min-height: 40em) { // @TODO: USE VARIABLES!
    padding-top: 14em;
  }

  .wrap {
    align-self: flex-end;
  }
}