.masthead {
  display: flex;
  min-height: 65vmin;
  padding: 12rem 0 $spacing-xl;
  //background-color: $offwhite;
  background-size: cover;
  background-position: 50% 50%;
  box-sizing: border-box;
  position: relative;

  &__bg {
    // should use an abs:pos div with responsive image rather than background image
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 60% 35%; // we're going to assume the image's focal point is roughly slightly-above-center right, but specify this as an inline style for each image
    }
  }

  .wrap {
    position: relative;
    align-self: flex-end;
    z-index: 0;
  }

  &--shallow {
    min-height: 40vh;
  }
}