.title {
  position: relative;
  --color: white;
  --background: #{$red};
  max-width: 42em; // @TODO: why? what does this relate to? make a variable
  margin-bottom: $spacing-xs;
}

.title__highlight {
  position: relative;
  display: inline;
  left: $spacing-xs;
  margin: 0;
  padding: 0.25rem;
  line-height: 1.4;
  background: var(--background);
  color: var(--color);
  box-shadow: -$spacing-xs 0 0 0 var(--background), $spacing-xs 0 0 0 var(--background);
  box-decoration-break: clone;
  //border-top: 0.25rem solid transparent;
  //border-bottom: 0.25rem solid transparent;
}

.title--has-tail {
  .title__highlight { // @TODO: Consider refactoring onto parent to reduce specificity further
    &:before {
      position: absolute;
      content: '';
      margin-top: 2px;
      top: 0;
      left: -0.5rem;
      display: block;
      width: 1000px;
      height: 2px;
      transform: rotate(225deg);
      transform-origin: top left;
      background: var(--background);
    }
  }
}

.title--bg-white {
  --background: white;
  --color: black;
}

.title--bg-slate {
  --background: #{$slate};
}

.title--bg-maroon {
  --background: #{$maroon};
}

.title--bg-pink {
  --background: #{$pink};
}





