<div class="course-summary">
    <dl class="course-summary__list">
        <dt class="course-summary-list__label">UCAS code</dt>
            <dd class="course-summary-list__value">M100</dd>
        <dt class="course-summary-list__label">Location</dt>
            <dd class="course-summary-list__value">Stoke-on-Trent campus</dd>
        <dt class="course-summary-list__label">Study option</dt>
            <dd class="course-summary-list__value">Full-time, Stoke-on-Trent campus</dd>
        <dt class="course-summary-list__label">Duration</dt>
            <dd class="course-summary-list__value">3 Years</dd>
        <dt class="course-summary-list__label">Start date</dt>
            <dd class="course-summary-list__value">15 September 2021</dd>
        <dt class="course-summary-list__label">School</dt>
            <dd class="course-summary-list__value">
            <a href="https://www.staffs.ac.uk/about/schools/law-policing-and-forensics/">School of Law, Policing and Forensics</a>
        </dd>
    </dl>
</div>