<div class="course-summary">
    <dl class="course-summary__list">
        <dt>UCAS code</dt>
            <dd>M100</dd>
        <dt>Location</dt>
            <dd>Stoke-on-Trent campus</dd>
        <dt>Study option</dt>
            <dd>Full-time, Stoke-on-Trent campus</dd>
        <dt>Duration</dt>
            <dd>3 Years</dd>
        <dt>Start date</dt>
            <dd>15 September 2021</dd>
        <dt>School</dt>
            <dd>
            <a href="https://www.staffs.ac.uk/about/schools/law-policing-and-forensics/">School of Law, Policing and Forensics</a>
        </dd>
    </dl>
</div>