<div class="grid grid-3-cols">
  <div>
    <div class="box  box--padded">

    </div>
  </div>


<div class="slab  slab--bg-offwhite">
  <div class="wrap">
    {% include '@base' %}
  </div>
</div>

<div class="slab  slab--bg-slate">
  <div class="wrap">
    {% include '@base' %}
  </div>
</div>

<div class="slab  slab--bg-slate-light">
  <div class="wrap">
    {% include '@base' %}
  </div>
</div>

