.masthead {
  display: flex;
  min-height: 65vh;
  min-height: 65vmin;
  padding: 12rem 0 $spacing-xl;
  background-size: cover;
  background-position: 50% 50%;
  box-sizing: border-box;

  &__bg {
    // should use an abs:pos div with responsive image rather than background image
  }

  .wrap {
    align-self: flex-end;
  }
}