<div class="masthead" style="background-image: url('../../img/masthead.jpg');">
    <div class="wrap">
        {% include '@breadcrumbs' %}
        {% include '@title' with {
            text: 'Shortlisted for "University of the year"',
            modifiers: ['has-tail'],
            textElement: 'h1'
        } %}
        {% include '@title' with {
            text: '- The Times and The Sunday Times Good University Guide 2020',
            modifiers: ['bg-white', 'has-tail'],
            textElement: 'h6'
        } %}
        {% include '@button' with {
            text: 'Book an open day',
        } %}
    </div>
</div>
